* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  
    &::before,
    &::after {
      box-sizing: border-box;
    }
}

html {
    font-family: $font-family;
    font-size: 100%;

    position: relative;
    z-index: $z-index-html;

    color: $color-text;
    background: $white;
}

body {
    @include text-medium;
    overflow-y: scroll;
    overflow-x: hidden;

    margin-right: calc(-1 * (100vw - 100%));

    letter-spacing: 0.02em;

    text-rendering: optimizeLegibility;

    &.fancybox-active {
        overflow-y: hidden;
    }
}

h1 {
    @include title-1;

    margin-top: 0;
    margin-bottom: 0;

    &:not([class]) {
        margin-bottom: rem($gap-normal);

        @include resetting-vertical-indentation-of-last;
    }
}

h2 {
    @include title-2;

    margin-top: 0;
    margin-bottom: 0;

    &:not([class]) {
        margin-bottom: rem($gap-normal);

        @include resetting-vertical-indentation-of-last;
    }
}

h3 {
    @include title-3;

    margin-top: 0;
    margin-bottom: 0;

    &:not([class]) {
        margin-top: rem($gap-medium);
        margin-bottom: rem($gap-medium);

        @include resetting-vertical-indentation-of-last;
    }
}

h4 {
    @include title-4;

    margin-top: 0;
    margin-bottom: 0;

    &:not([class]) {
        margin-top: rem($gap-small);
        margin-bottom: rem($gap-small);

        @include resetting-vertical-indentation-of-last;
    }
}

h5 {
    @include title-5;

    margin-top: 0;
    margin-bottom: 0;

    &:not([class]) {
        margin-top: rem($gap-middle);
        margin-bottom: rem($gap-medium);

        @include resetting-vertical-indentation-of-last;
    }
}

h6 {
    @include title-6;

    margin-top: 0;
    margin-bottom: 0;

    &:not([class]) {
        margin-top: rem($gap-small);
        margin-bottom: rem($gap-small);

        @include resetting-vertical-indentation-of-last;
    }
}

p {
    margin-top: 0;
    margin-bottom: 0;

    &:not([class]) {
        margin-bottom: rem(22px);

        @include resetting-vertical-indentation-of-last;
    }
}

ol {
    margin-top: 0;
    margin-bottom: 0;

    @include list-reset;

    counter-reset: ordered-list;

    &:not([class]) {
        margin-bottom: rem($gap-small);

        @include resetting-vertical-indentation-of-last;

        ul,
        ol {
            margin-top: rem($gap-small);
            margin-bottom: rem($gap-small);
        }

        & > li {
            position: relative;

            padding-left: rem($gap-middle);
            margin-bottom: rem($gap-small);

            @include resetting-vertical-indentation-of-last;

            &::before {
                font-weight: $font-weight-semibold;

                position: absolute;
                top: 0;
                left: 0;

                display: block;

                content: counters(ordered-list, "") ".";
                counter-increment: ordered-list;

                color: $brickRed;
            }
        }
    }
}

ul {
    margin-top: 0;
    margin-bottom: 0;

    @include list-reset;

    &:not([class]) {
        margin-bottom: rem($gap-small);

        @include resetting-vertical-indentation-of-last;

        ul,
        ol {
            margin-top: rem($gap-small);
            margin-bottom: rem($gap-small);
        }

        & > li {
            $size-dot: 3px;

            position: relative;

            margin-bottom: rem($gap-small);
            padding-left: rem(14px);

            @include resetting-vertical-indentation-of-last;

            &::before {
                position: absolute;
                top: em(10px); // magic num
                left: 0;

                display: block;

                width: rem($size-dot);
                height: rem($size-dot);

                content: "";

                color: $tuna;
                border-radius: 50%;
                background-color: currentColor;
            }
        }
    }
}

a {
    &:hover,
    &:focus,
    &:active {
        outline: 0;
    }

    &:not([class]) {
        color: $color-text;

        transition: color $transition-duration $transition-function;

        &:hover,
        &:focus {
            color: $brickRed;
        }
    }
}

img {
    display: block;

    max-width: 100%;
}

button {
    border: 0;

    &:not(:disabled) {
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }
}

table {
    width: 100%;

    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}

input {
    &[type="number"] {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            margin: 0;

            -webkit-appearance: none;
        }
    }

    &::-ms-clear {
        display: none;
    }
}
