vendor
composer
/app/core/bitrix
/app/core/local/templates/.default/css/style.css
/app/core/local/templates/.default/css/style.css.map
/app/core/local/templates/.default/js/script.js
/app/site/test
/app/site/upload
/app/site/c_sitemaps
node_modules
/.env
/html
auth_d.php
app/site/auth_d.php
.DS_Store
*.log
*.tar.gz
*.tar
*.zip
*.DS_Store
*.svn
*.cvs
*.idea
*.git
*.hg
*.hprof
*.pyc
*.ppt
*.pptx
*.pdf
*.mp3
*.mp4
*.mpg
*.mpeg
*.gz
*.xls
*.xlsx
*.doc
*.docx
*.avi
*.dat
*.json
.git
.const
.sync.sh
rsync.sh
sync_from_bitrix.sh
exclude
!composer.json
!package.json
!package-lock.json
/tools
app/site/test.php