@mixin object-fit($fit: fill, $position: null) {
    -o-object-fit: $fit;
    object-fit: $fit;

    @if $position {
        font-family: "object-fit: #{$fit}; object-position: #{$position}";

        -o-object-position: $position;
        object-position: $position;
    } @else {
        font-family: "object-fit: #{$fit}";
    }
}

@mixin resetting-vertical-indentation-of-first {
    &:first-child {
        margin-top: 0;
    }
}

@mixin resetting-vertical-indentation-of-last {
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin object-fit($fit: fill, $position: null) {
    -o-object-fit: $fit;
    object-fit: $fit;

    @if $position {
        -o-object-position: $position;
        object-position: $position;

        font-family: "object-fit: #{$fit}; object-position: #{$position}";
    } @else {
        font-family: "object-fit: #{$fit}";
    }
}

@mixin position-stretching($position: absolute, $z-index: null) {
    position: $position;
    @if $z-index {
        z-index: $z-index;
    }
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin text-ellips {
    display: block;
    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin text-truncate-by-row($row: 2) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
}

@mixin elements-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@mixin hidden-element {
    position: absolute;

    clip: rect(0 0 0 0);

    width: rem(1px);
    height: rem(1px);
    margin: rem(-1px);
}

// Resets
@mixin list-reset {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

@mixin resetting-vertical-indentation-of-first {
    &:first-child {
        margin-top: 0;
    }
}

@mixin resetting-vertical-indentation-of-last {
    &:last-child {
        margin-bottom: 0;
    }
}

// Text

@mixin title-1 ($font-weight: $font-weight-bold) {
    $font-size: $font-size-middle;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-middle / $font-size);


    @media #{$screen-desktop} {
        $font-size: $font-size-huge;

        font-size: rem($font-size);
        line-height: ($line-height-huge / $font-size);
    }
}

@mixin title-2 ($font-weight: $font-weight-bold) {
    $font-size: $font-size-average;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-normal / $font-size);


    @media #{$screen-desktop} {
        $font-size: $font-size-large;

        font-size: rem($font-size);
        line-height: ($line-height-large / $font-size);
    }
}

@mixin title-3 ($font-weight: $font-weight-bold) {
    $font-size: $font-size-medium;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-medium / $font-size);


    @media #{$screen-desktop} {
        $font-size: $font-size-middle;

        font-size: rem($font-size);
        line-height: ($line-height-middle / $font-size);
    }
}

@mixin title-4 ($font-weight: $font-weight-bold) {
    $font-size: $font-size-normal;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-normal / $font-size);


    @media #{$screen-tablet} {
        $font-size: $font-size-average;

        font-size: rem($font-size);
        line-height: ($line-height-average / $font-size);
    }
}

@mixin title-5 ($font-weight: $font-weight-semibold) {
    $font-size: $font-size-small;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-small / $font-size);


    @media #{$screen-tablet} {
        $font-size: $font-size-normal;

        font-size: rem($font-size);
        line-height: ($line-height-normal / $font-size);
    }
}


@mixin title-6 ($font-weight: $font-weight-semibold) {
    $font-size: $font-size-miniature;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-mini / $font-size);


    @media #{$screen-tablet} {
        $font-size: $font-size-small;

        font-size: rem($font-size);
        line-height: ($line-height-small / $font-size);
    }
}


@mixin text-average ($font-weight: null) {
    $font-size: $font-size-small;

    font-size: rem($font-size);
    @if $font-weight {
        font-weight: $font-weight;
    }
    line-height: ($line-height-small / $font-size);


    @media #{$screen-desktop} {
        $font-size: $font-size-average;

        font-size: rem($font-size);
        line-height: ($line-height-average / $font-size);
    }
}

@mixin text-medium ($font-weight: null) {
    $font-size: $font-size-small;

    font-size: rem($font-size);
    @if $font-weight {
        font-weight: $font-weight;
    }
    line-height: ($line-height-small / $font-size);

    @media #{$screen-desktop} {
        $font-size: $font-size-normal;

        font-size: rem($font-size);
        line-height: ($line-height-normal / $font-size);
    }
}


@mixin text-normal ($font-weight: null) {
    $font-size: $font-size-mini;

    font-size: rem($font-size);
    @if $font-weight {
        font-weight: $font-weight;
    }
    line-height: ($line-height-small / $font-size);

    @media #{$screen-desktop} {
        $font-size: $font-size-normal;

        font-size: rem($font-size);
        line-height: ($line-height-normal / $font-size);
    }
}

@mixin text-middle ($font-weight: null) {
    $font-size: $font-size-mini;

    font-size: rem($font-size);
    @if $font-weight {
        font-weight: $font-weight;
    }
    line-height: ($line-height-small / $font-size);

    @media #{$screen-desktop} {
        $font-size: $font-size-small;

        font-size: rem($font-size);
        line-height: (22px / $font-size);
    }
}


@mixin text-small ($font-weight: null) {
    $font-size: $font-size-miniature;

    font-size: rem($font-size);
    @if $font-weight {
        font-weight: $font-weight;
    }
    line-height: ($line-height-small / $font-size);

    @media #{$screen-desktop} {
        $font-size: $font-size-small;

        font-size: rem($font-size);
        line-height: ($line-height-small / $font-size);
    }
}


@mixin text-miniature ($font-weight: null) {
    $font-size: $font-size-miniature;

    font-size: rem($font-size);
    @if $font-weight {
        font-weight: $font-weight;
    }
    line-height: ($line-height-miniature / $font-size);
}


@mixin text-tiny ($font-weight: null) {
    $font-size: $font-size-tiny;

    font-size: rem($font-size);
    @if $font-weight {
        font-weight: $font-weight;
    }
    line-height: ($line-height-miniature / $font-size);
}