
// Colors

/*
    Название переменной конкретного цвета генерируется через сервис: http://chir.ag/projects/name-that-color/.
    Значение цвета всегда указывается в HEX-формате в нижнем регистре (кроме исключительных случаев).
*/

$tuna: #3a3a43;
$saltBox: #69676d;
$alto: #d0d0d0;
$athensGray: #f4f3f6;
$white: #ffffff;
$brickRed: #d82f49;
$seaGreen: #2d8859;
$pastelPink: #ffd2d9;


$tara: #daf5e9;
$piper: #d26925;
$dairyCream: #f9dbc0;
$bostonBlue: #3887b5;
$onahau: #d0edfe;
$wisteria: #945dab;
$snuff: #ddcfe3;
$buddhaGold: #c99308;
$eggWhite: #fff5bf;
$hibiscus: #c73c5e;
$azalea: #fad0d3;
$lochinvar: #2c877f;
$mintTulip: #c5f2f2;
$viridian: #43946a;
$aquaForest: #62a683;
$mandy: #dc445c;
$mandy2: #df586d;
$black: #000000;
$codGray: #161616;


$color-text: $tuna;


// Fonts

$font-path: "/local/templates/.default/fonts/";


$font-family-default: "Arial", "Helvetica", sans-serif;
$font-family-custom: "Montserrat";

$font-family: $font-family-custom, $font-family-default;


$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;


$font-size-base: 16px;

$font-size-huge: 32px;
$font-size-large: 30px;
$font-size-middle: 24px;
$font-size-average: 20px;
$font-size-medium: 18px;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-mini: 13px;
$font-size-miniature: 12px;
$font-size-tiny: 11px;


$line-height-huge: 48px;
$line-height-large: 36px;
$line-height-middle: 32px;
$line-height-average: 28px;
$line-height-medium: 26px;
$line-height-normal: 24px;
$line-height-small: 20px;
$line-height-mini: 18px;
$line-height-miniature: 16px;


// Breakpoints

$screen-desktop: "(min-width: 1440px)";
$screen-tablet: "(min-width: 768px)";
$screen-device-only: "(max-width: 1439px)";



// Gaps

$gap-big: 32px;
$gap-normal: 24px;
$gap-middle: 22px;
$gap-medium: 16px;
$gap-average: 12px;
$gap-small: 8px;
$gap-mini: 4px;

// Sizes

$width-container: 1170px;

$gap-container: $gap-normal;
$gap-container-medium: $gap-medium;

$height-header-mobile: 137px;
$height-header-desktop: 168px;


// Z-indexes

$z-index-html: 1;
$z-index-input: 2;
$z-index-menu: 100;
$z-index-header-default: 130;
$z-index-popup: 150;


// Transitions and Animations

$transition-duration: 300ms;
$transition-duration-fast: 100ms;
$transition-duration-medium: 500ms;
$transition-duration-slow: 800ms;
$transition-function: ease-in-out;


// border
$border-radius-mini: 2px;
$border-radius-small: 4px;
$border-radius-middle: 8px;
$border-radius: 12px;
$border-radius-average: 16px;
$border-radius-big: 24px;

// Radius


// Box-shadows
$box-shadow: 0 rem(4px) rem(8px) rgba($black, .12);
$box-shadow-medium: 0 rem(6px) rem(18px) rgba($black, .12);
$box-shadow-gray: 0 rem(2px) rem(8px) rgba($saltBox, .64);
$box-shadow-big: 0 rem(12px) rem(24px) rgba($black, .16);
$box-shadow-mini: 0 rem(4px) rem(24px) rgba($black, .08);


