.about {
    &__hero {
        &-box {
            padding: rem(16px);

            @media #{$screen-desktop} {
                padding: rem(24px);
            }
        }

        &-title {
            margin-bottom: rem(12px);
        }

        &-images {
            margin-bottom: rem(12px);

            @media #{$screen-desktop} {
                margin-bottom: rem(32px);
            }
        }
    }

    &__appreciate {
        &-list {
            display: flex;

            margin: 0 rem(-15px);
        }

        &-item {
            flex-basis: percentage(1 / 3);

            padding: 0 rem(15px);
        }

        &-card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            padding: rem(32px) 0;

            background: #D0EDFE;
            border-radius: rem(16px);
        }

        &-icon {
            margin-bottom: rem(12px);
        }
    }
}