.accounting {
    &__section {
        &-box {
            margin-top: rem(2px);
        }
    }

    &__period {
        margin-bottom: rem($gap-medium);

        @media #{$screen-desktop} {
            padding: rem($gap-medium) rem($gap-normal);
            margin-bottom: rem($gap-big);

            border: rem(1px) solid $alto;
            border-radius: rem($border-radius-average);
        }

        &-form {
            display: flex;
            
            flex-direction: column;

            @media #{$screen-desktop} {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }

        &-name {
            font-size: rem($font-size-normal);
            font-weight: $font-weight-semibold;
            line-height: ($line-height-average/$font-size-normal);

            margin-bottom: rem($gap-small);

            color: $saltBox;

            @media #{$screen-desktop} {
                margin-bottom: 0;

                color: $tuna;
            }
        }

        &-select {
            width: 100%;

            @media #{$screen-desktop} {
                width: rem(190px);
            }
        }
    }

    &__tabs {
        &-items {
            width: max-content;
            margin-bottom: rem($gap-medium);
        }
    }

    &__filter {
        margin-bottom: rem($gap-medium);

        @media #{$screen-desktop} {
            margin-bottom: rem(20px);
        }
    }
}