.accordeon {
    &--simple & {
        &__item {
            padding: rem(6px) rem($gap-medium);

            background-color: $white;

            & + & {
                margin-top: rem($gap-medium);
            }
        }
    }

    &--simple-bordered {
        margin-top: rem(24px);
    }

    &--simple-bordered & {
        &__item {
            margin-top: 0 !important;
            padding: rem($gap-average) rem($gap-small);

            border-bottom: rem(1px) solid $alto;
            border-radius: 0;
            background-color: $white;

            &:first-child {
                border-top: 1px solid $alto;
            }
        }

        &__title {
            font-size: rem($font-size-normal);
            font-weight: $font-weight-semibold;
            line-height: ($font-size-middle / $font-size-normal);

            color: $tuna;
        }
    }

    &--small & {
        &__item {
            padding: 0;
        }

        &__header {
            @media #{$screen-desktop} {
                justify-content: flex-start;
            }
        }
    }

    &__item {
        padding: rem(20px) rem($gap-medium);

        background-color: $athensGray;

        & + & {
            margin-top: rem($gap-medium);
        }
    }

    &__item--opened & {
        &__toggle {
            &-icon {
                transform: rotate(180deg);

                color: $brickRed;
            }
        }

        &__title {
            color: $brickRed;

            &--dark {
                color: $tuna;
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;

        cursor: pointer;
    }

    &__title {
        margin-right: rem($gap-medium);

        color: $tuna;
    }

    &__toggle {
        flex-shrink: 0;
    }

    &__body {
        @include text-small;

        display: none;

        margin-top: rem($gap-average);

        color: $saltBox;

        &--bordered {
            margin-right: rem(40px);
            padding-top: rem($gap-average);

            border-top: rem(1px) solid #d9d9d9;
        }
    }
}