.accordeon {
    &__item {
        padding: rem(20px) rem($gap-medium);

        background-color: $athensGray;

        & + & {
            margin-top: rem($gap-medium);
        }
    }

    &__item--opened & {
        &__toggle {
            &-icon {
                transform: rotate(180deg);
            }
        }

        &__title {
            color: $brickRed;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-right: rem($gap-medium);

        color: $tuna;
    }

    &__body {
        @include text-small;

        display: none;

        margin-top: rem($gap-average);

        color: $saltBox;

        &--bordered {
            margin-right: rem(40px);
            padding-top: rem($gap-average);

            border-top: rem(1px) solid #d9d9d9;
        }
    }
}