.accordeon {
    &--simple & {
        &__item {
            padding: rem(6px) rem($gap-medium);

            background-color: $white;

            & + & {
                margin-top: rem($gap-medium);
            }
        }
    }

    &--simple-bordered {
        margin-top: rem(24px);
    }

    &--simple-bordered & {
        &__item {
            margin-top: 0 !important;
            padding: rem($gap-average) rem($gap-small);

            border-bottom: rem(1px) solid $alto;
            border-radius: 0;
            background-color: $white;

            &:first-child {
                border-top: 1px solid $alto;
            }
        }

        &__title {
            font-size: rem($font-size-normal);
            font-weight: $font-weight-semibold;
            line-height: ($font-size-middle / $font-size-normal);

            color: $tuna;
        }
    }

    &--small & {
        &__item {
            padding: 0;
        }

        &__header {
            @media #{$screen-desktop} {
                justify-content: flex-start;
            }
        }
    }

    &--white & {
        &__item {
            padding: rem($gap-medium) rem($gap-average);

            background-color: $white;

            @media #{$screen-tablet} {
                padding: rem($gap-middle) rem($gap-normal);
            }
        }

        &__icon {
            flex-shrink: 0;

            color: $saltBox;
        }

        &__body {
            margin-top: rem($gap-normal);
        }
    }

    &--separated & {
        &__item {
            padding: 0;

            background-color: transparent;
        }

        &__header {
            padding: rem($gap-average);

            background-color: $athensGray;

            @media #{$screen-desktop} {
                padding: rem($gap-small) rem($gap-average);
            }
        }

        &__body {
            margin-top: rem($gap-small);
            padding: rem($gap-average);

            border-radius: rem($border-radius-average);
            background-color: $athensGray;

            @media #{$screen-desktop} {
                margin-top: rem(2px);
                padding: rem($gap-medium);
            }
        }
    }

    &__item {
        padding: rem(20px) rem($gap-medium);

        cursor: pointer;

        background-color: $athensGray;

        & + & {
            margin-top: rem($gap-medium);
        }

        
    }

    &__item:hover & {
        &__title {
            @media #{$screen-desktop} {
                color: $brickRed;
            }
        }

        &__item:hover {
            .accordeon__title {
                @media #{$screen-desktop} {
                    color: $brickRed;
                }
            }
        }
    }

    &__item {
        .accordeon__item .accordeon__title {
            @media #{$screen-desktop} {
                color: $tuna;
            }
        }
    }

    &__item & {
        &__item.accordeon__item--opened {

            .accordeon__icon {
                color: $brickRed;
            }

            .accordeon__toggle {
                &-icon {
                    transform: rotate(180deg) !important;

                    color: $brickRed !important;
                }
            }

            .accordeon__title {
                color: $tuna;

                &--dark {
                    color: $tuna !important;
                }
            }
        }
    }

    &__item.accordeon__item--opened & {

        &__toggle {
            &-icon {
                transform: rotate(180deg);

                color: $brickRed;
            }
        }

        &__title {
            color: $brickRed;

            &--dark {
                color: $tuna;
            }
        }

        &__avatar {
            outline: rem(2px) solid $brickRed;
            box-shadow: 0 rem(4px) rem(16px) rgba(#c91430, .24);
        }

        &__item {
            .accordeon__toggle {
                &-icon {
                    transform: rotate(0deg) !important;
    
                    color: $tuna !important;
                }
            }

            .accordeon__title {
                color: $tuna !important;
    
                &--dark {
                    color: $tuna !important;
                }
            }
        }

        &__item.accordeon__item--opened {

            .accordeon__icon {
                color: $brickRed;
            }

            .accordeon__toggle {
                &-icon {
                    transform: rotate(180deg) !important;
    
                    color: $brickRed !important;
                }
            }

            .accordeon__title {
                &--dark {
                    color: $tuna !important;
                }
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;

        cursor: pointer;

        &-col {
            display: flex;
            align-items: center;
        }
    }

    &__title {
        margin-right: rem($gap-medium);

        color: $tuna;
    }

    &__toggle {
        flex-shrink: 0;
    }

    &__body {
        @include text-small;

        display: none;

        margin-top: rem($gap-average);

        color: $saltBox;

        &--bordered {
            margin-right: rem(40px);
            padding-top: rem($gap-average);

            border-top: rem(1px) solid #d9d9d9;
        }

        &--closer {
            margin-top: rem(20px);

            color: initial;

            @media #{$screen-tablet} {
                margin-top: rem($gap-normal);
            }
        }

        &--separated {
            margin-top: rem($gap-small);

            @media #{$screen-desktop} {
                margin-top: rem(2px);
            }
        }

        &--simple {
            padding: rem($gap-normal);

            border-radius: rem($border-radius-average);
            background-color: $white;
        }

        &--mobile-active {
            @media #{$screen-tablet} {
                display: none !important;
            }
        }
    }

    &__icon {
        $size: 24px;

        width: rem($size);
        height: rem($size);

        margin-right: rem($gap-average);

        @media #{$screen-tablet} {
            $size: 28px;

            width: rem($size);
            height: rem($size);
        }
    }
}