.basket {
    &__row {
        @media #{$screen-desktop} {
            display: flex;
        }
    }

    &__col {
        &--limited {
            flex-shrink: 0;

            margin-bottom: rem($gap-big);

            @media #{$screen-tablet} {
                margin-bottom: rem(30px);
            }

            @media #{$screen-desktop} {
                width: rem(300px);
                margin-left: rem(100px);
            }
        }

        &--full {
            flex-grow: 1;
        }
    }

    &__progress {
        margin-bottom: rem(24px);
    }

    &__cart {
        &-null {
            display: none;

            text-align: center;

            color: $saltBox;
        }
    }

    
}