.box {
    transition: $transition-duration $transition-function;

    border-radius: rem($border-radius);
    background-color: $white;

    &--shadow {
        box-shadow: $box-shadow;
    }

    &--hovering {
        &:hover {
            box-shadow: $box-shadow-big;
        }
    }

    &--hanging {
        box-shadow: $box-shadow-big;
    }

    &--gray {
        padding: rem($gap-average) rem($gap-medium);
        background-color: $athensGray;

        @media #{$screen-tablet} {
            padding: rem($gap-medium)
        }
    }

    &--white {
        background-color: $white;
    }

    &--grayish {
        background-color: $athensGray;
    }

    &--rounded {
        border-radius: rem($border-radius);

        @media #{$screen-tablet} {
            border-radius: rem($border-radius-average);
        }
    }

    &--rounded-sm {
        border-radius: rem($border-radius);
    }

    &--circle {
        border-radius: rem($border-radius-average);
    }

    &--hidden {
        @media #{$screen-tablet} {
            background-color: transparent;
        }
    }

    &--inner {
        padding: rem($gap-average);

        @media #{$screen-tablet} {
            background-color: rem($gap-normal);
        }
    }

    &--border {
        border: rem(1px) solid $alto;
    }

    &__heading {
        margin-bottom: rem(20px);

        @media #{$screen-tablet} {
            margin-bottom: rem($gap-normal);
        }

        &--middle {
            margin-bottom: rem($gap-average);

            color: $saltBox;

            @media #{$screen-tablet} {
                margin-bottom: rem($gap-medium);
            }
        }

        &--small {
            margin-bottom: rem(20px);

            color: $black;

            @media #{$screen-tablet} {
                margin-bottom: rem($gap-medium);
            }
        }
    }
}