.box {
    transition: $transition-duration $transition-function;

    border-radius: rem($border-radius);
    background-color: $white;

    &--shadow {
        box-shadow: $box-shadow;
    }

    &--gray {
        padding: rem($gap-average) rem($gap-medium);
        background-color: $athensGray;

        @media #{$screen-tablet} {
            padding: rem($gap-medium)
        }
    }

    &--white {
        background-color: $white;
    }

    &--grayish {
        background-color: $athensGray;
    }

    &--rounded {
        border-radius: rem($border-radius);

        @media #{$screen-tablet} {
            border-radius: rem($border-radius-average);
        }
    }

    &--rounded-sm {
        border-radius: rem($border-radius);
    }

    &--circle {
        border-radius: rem($border-radius-average);
    }

    &--hidden {
        @media #{$screen-tablet} {
            background-color: transparent;
        }
    }

    &__heading {
        margin-bottom: rem(20px);

        @media #{$screen-tablet} {
            margin-bottom: rem($gap-normal);
        }
    }
}