.cards-preference {
    &__list {
        display: flex;

        margin: 0 rem(-4px);

        @media #{$screen-tablet} {
            margin: 0 rem(-12px);
        }
    }

    &__item {
        flex-basis: percentage(1 / 3);

        padding: 0 rem(4px);

        @media #{$screen-tablet} {
            padding: 0 rem(12px);
        }
    }
}