.card-preference {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: rem(24px) rem(10px);

    border-radius: rem(16px);
    background: $white;

    &__icon {
        $size: 42px; 

        width: rem($size);
        height: rem($size);
        margin-bottom: rem(4px);

        @media #{$screen-tablet} {
            $size: 42px;

            width: rem($size);
            height: rem($size);
            margin-bottom: rem(8px);
        }
    }

    &__stext {
        font-weight: $font-weight-medium;
        font-size: rem($font-size-miniature);
        line-height: ($line-height-miniature/$font-size-miniature);

        text-align: center;
        
        @media #{$screen-tablet} {
            font-size: rem($font-size-normal);
            line-height: ($line-height-normal/$font-size-normal);
        }
    }
}