.card-cart {

    &__link {
        @include position-stretching(absolute);
    }

    &__inner {
        @media #{$screen-desktop} {
            display: flex;
        }
    }

    &__header {
        display: flex;

        @media #{$screen-desktop} {
            width: percentage(362px / 770px);
            margin-right: rem(48px);
        }
    }

    &__image {
        position: relative;
        z-index: -1;

        overflow: hidden;
        flex-shrink: 0;

        width: rem(90px);
        height: rem(100px);
        
        border: rem(1px) solid $alto;
        border-radius: rem($border-radius-middle);

        cursor: pointer;

        @media #{$screen-desktop} {
            width: rem(56px);
            height: rem(56px);
        }

        &-link {
            margin-right: rem($gap-medium);

            &:hover {
                +.card-cart__info .card-cart__title {
                    color: $brickRed;  
                }
            }
        }

        &-picture {
            @include position-stretching(absolute);

            width: 100%;
            height: 100%;

            @include object-fit(cover);
        }
    }

    &__title {
        @include text-miniature($font-weight-medium);

        @include text-truncate-by-row(3);

        margin-bottom: rem($gap-mini);

        transition: color $transition-duration $transition-function;
        letter-spacing: 0.02em;
        text-decoration: none;

        color: $tuna;
        cursor: pointer;

        @media #{$screen-desktop} {
            @include text-truncate-by-row(2);
        }

        &:hover {
           color: $brickRed;
        }
    }

    &__subtitle {
        @include text-miniature($font-weight-medium);

        margin-bottom: rem($gap-mini);

        letter-spacing: 0.02em;

        color: $saltBox;

        @media #{$screen-desktop} {
            margin-bottom: rem($gap-small);
        }
    }

    &__types {
        margin-bottom: rem($gap-average);
    }

    &__status {
        margin-bottom: rem($gap-average);
    }

    &__wrapper {
        max-width: calc(100% - 90px - #{$gap-medium});
        margin-left: auto;

        @media #{$screen-desktop} {
            flex-grow: 1;

            max-width: none;
            margin-left: initial;
        }
    }

    &__block {
        @media #{$screen-desktop} {
            display: flex;
            align-items: center;

            min-width: rem(292px);
            margin: 0 auto;
        }
    }

    &__counter {
        z-index: 1;

        margin-bottom: rem($gap-average);

        @media #{$screen-desktop} {
            order: 2;

            margin: 0 rem(20px);
        }

        & .quantity {
            width: rem(90px);

            @media #{$screen-desktop} {
                width: rem(108px);
            }

            &__total {
                flex-grow: 1;
                justify-content: center;
            }

            & .button {
                $size: 24px;

                width: rem($size);
                height: rem($size);

                @media #{$screen-desktop} {
                    width: rem(32px);
                    height: rem(28px);
                }
            }
        }
    }

    &__price {
        margin-bottom: rem($gap-average);

        @media #{$screen-desktop} {
            order: 1;

            width: rem(72px);
            margin-bottom: 0;
        }
        &-value {
            display: flex;
            align-items: baseline;
        }

        &-item {
            font-size: rem($font-size-small);
            font-weight: $font-weight-medium;
            line-height: (22px / $font-size-small);

            letter-spacing: 0.02em;

            display: flex;

            color: $saltBox;

            &-remains {
                font-size: rem($font-size-mini);
            }
        }

        &-sufix {
            margin-left: rem(5px);
            @media #{$screen-desktop} {
                display: none;
            }
        }
    }

    &__total {
        @media #{$screen-desktop} {
            order: 3;
        }
    }

    &__actions {
        position: absolute;
        right: 0;
        bottom: rem($gap-medium);

        display: flex;

        @media #{$screen-desktop} {
            top: rem($gap-normal);
            bottom: initial;

            flex-direction: column;
            order: 4;
        }

        &-item {
            margin-left: rem($gap-medium);

            @media #{$screen-desktop} {
                margin-top: rem($gap-medium);
                margin-left: 0;
            }
           
            &:first-child {
                margin-left: 0;

                @media #{$screen-desktop} {
                    margin-top: 0;
                }
            }
        }

        & .button {
            &__icon {
                $size: 25px;

                width: rem($size);
                height: rem($size);
            }
        }
    }
}
