.card-compilation {
    position: relative;

    display: flex;
    overflow: hidden;

    width: 100%;
    height: 100%;

    transition: box-shadow $transition-duration $transition-function;

    border-radius: rem($border-radius-average);

    &:hover {
        box-shadow: $box-shadow-big;
    }

    &:active {
        box-shadow: 0 rem(8px) rem(12px) rgba($black, .08);
    }

    &--green {
        min-height: rem(343px);
    }

    &--green & {
        $color: #378a5f;

        &__content {
            min-height: rem(98px);
            padding: rem(20px) rem($gap-medium);

            background-color: $color;

            @media #{$screen-tablet} {
                min-height: rem(108px);
            }
        }

        &__title {
            margin-bottom: rem($gap-mini);

            @media #{$screen-desktop} {
                font-size: rem($font-size-average);
                line-height: (22px / $font-size-average);
            }
        }
    }
    
    &--grey {
        min-height: rem(298px);
    }

    &--grey & {
        $color: #f2f1f4;

        &__content {
            padding: rem($gap-medium);

            background-color: $color;

            @media #{$screen-tablet} {
                display: flex;
                align-items: center;

                min-height: rem(108px);
            }
        }

        &__text {
            @include text-small($font-weight-medium);

            color: #19191c;

            @media #{$screen-tablet} {
                font-size: rem($font-size-normal);
                line-height: ($line-height-normal / $font-size-normal);
            }
        }
    }

    &--purple {
        min-height: rem(204px);
    }

    &--purple & {
        $color: $wisteria;

        &__content {
            display: flex;
            align-items: center;
            justify-content: center;

            padding-top: rem(13px);
            padding-bottom: rem(13px);

            background-color: $color;
        }

        &__title {
            font-weight: $font-weight-semibold;

            text-align: center;

            @media #{$screen-tablet} {
                line-height: (18px / $font-size-normal);
            }
        }
    }

    &__link {
        @include position-stretching(absolute, $z-index-html);
    }

    &__inner {
        display: flex;

        width: 100%;
    }

    &__banner {
        @include position-stretching(absolute, -1);

        width: 100%;
        height: 100%;

        @include object-fit(cover);
    }

    &__tag {
        position: absolute;
        top: rem($gap-small);
        right: rem($gap-small);

        @media #{$screen-tablet} {
            top: rem($gap-average);
            right: rem($gap-average);
        }

        & .sale {
            padding: rem($gap-small);

            &__text {
                font-size: rem($font-size-normal);
                line-height: ($line-height-small / $font-size-normal);

                color: $athensGray;

                @media #{$screen-tablet} {
                    font-size: rem($font-size-average);
                    line-height: ($line-height-normal / $font-size-average);
                }
            }
        }
    }

    &__content {
        align-self: flex-end;

        width: 100%;
        min-height: rem(48px);
        padding: rem($gap-medium);

        @media #{$screen-tablet} {
            min-height: rem(60px);
        }
    }

    &__title {
        font-size: rem($font-size-small);
        font-weight: $font-weight-bold;
        line-height: (22px / $font-size-small);

        color: $white;

        @media #{$screen-tablet} {
            font-size: rem($font-size-normal);
            line-height: (22px / $font-size-normal);
        }
    }

    &__text {
        @include text-miniature($font-weight-medium);

        color: $white;

        @media #{$screen-tablet} {
            font-size: rem($font-size-normal);
            line-height: ($line-height-small / $font-size-normal);
        }

        &-accent {
            font-weight: $font-weight-bold;

            color: $brickRed;
        }
    }
}
