.category {
    &__list {
        margin-top: rem(-$gap-medium / 2);
        margin-bottom: rem(-$gap-medium / 2);
    }

    &__item {
        padding-top: rem($gap-medium / 2);
        padding-bottom: rem($gap-medium / 2);

        & .accordeon__item {
            padding: 0;
            background-color: transparent;
        }
    }
}