.checkbox {
    &__input {
        @include hidden-element;
    }

    &__input:checked + &__label & {
        &__icon {
            color: $brickRed;
        }
    }

    &__input:disabled + &__label {
        cursor: default;
    }

    &__input:disabled + &__label & {
        &__icon {
            border-color: $athensGray;
            background-color: $athensGray;
        }
    }

    &__label {
        display: inline-flex;
        align-items: center;

        cursor: pointer;
    }

    &__icon {
        $size: 24px;

        position: relative;

        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;

        width: rem($size);
        height: rem($size);
        margin-right: rem(16px);

        transition: color $transition-duration $transition-function,
        border-color $transition-duration $transition-function,
        background-color $transition-duration $transition-function,
        box-shadow $transition-duration $transition-function;

        color: transparent;
        border: rem(1px) solid $alto;
        border-radius: rem($border-radius-mini);
        background-color: #f4f3f6;

        &-pic {
            $size: 16px;

            position: relative;

            width: rem($size);
        }
    }

    &__text {
        @include text-small;

        line-height: rem(22px);
    }
}