.color {
    &--option {
        display: flex;
        align-items: center;
    }

    &--option & {
        &__item {
            display: inline-block;

            margin-right: rem($gap-small);
        }
    }

    &--disabled & {
        &__item {
            &::before {
                position: absolute;
                z-index: -1;
                top: 50%;
                right: 50%;

                display: block;

                width: rem(28px);
                height: rem(28px);

                content: '';
                transition: transform $transition-duration $transition-function;
                transform: translate(50%, -50%);

                border-radius: rem($border-radius-small);
                background-color: $alto;
            }

            &::after {
                position: absolute;
                z-index: 1;
                top: 50%;
                right: 0;

                display: block;

                width: rem(28px);
                height: rem(2px);

                content: '';
                transition: transform $transition-duration $transition-function;
                transform: rotate(-45deg);

                background-color: $alto;
            }
        }
    }

    &__item {
        $size: 14px;

        position: relative;
        overflow: hidden;

        width: rem($size);

        border-radius: 50%;

        @media #{$screen-desktop} {
            $size: 12px;

            width: rem($size);
            height: rem($size);
        }

        &::before {
            display: block;

            padding-top: 100%;

            content: '';
        }

        &--medium {
            $size: 16px;

            width: rem($size);
            height: rem($size);
        }

        &--big {
            $size: 24px;

            width: rem($size);
            height: rem($size);
        }

        &--pink {
            background-color: #f242af;
        }

        &--blue {
            background-color: #4269f2;
        }

        &--green {
            background-color: #31c95b;
        }

        &--yellow {
            background-color: #f2a142;
        }

        &--red {
            background-color: #df4848;
        }

        &--violet {
            background-color: #9348df;
        }

        &--white {
            border: rem(1px) solid $alto;
            background-color: $white;
        }

        &-wrapper {
            @include position-stretching;
        }

        &-pic {
            @include position-stretching;

            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    &__input + label {
        cursor: pointer;
    }

    &__input:checked + label & {
        &__item {
            outline: rem(2px) solid $tuna;
            outline-offset: rem(1px);

            @media #{$screen-desktop} {
                outline: rem(1px) solid $tuna;
                outline-offset: rem(4px);
            }

            &--big {
                outline: rem(2px) solid $tuna !important;
                outline-offset: rem(2px);
            }
        }
    }

    &__input:disabled + label {
        cursor: default;
    }
}