.color {
    &--option {
        display: flex;
        align-items: center;
    }

    &--option & {
        &__item {
            display: inline-block;

            margin-right: rem($gap-small);
        }
    }

    &--disabled & {
        &__item {
            overflow: visible;

            &::before {
                position: absolute;
                z-index: -1;
                top: 50%;
                right: 50%;

                display: block;

                width: rem(20px);
                height: rem(20px);

                content: '';
                background-image: url('/local/templates/.default/images/squered.png');
                transition: transform $transition-duration $transition-function;
                transform: translate(50%, -50%);

                border-radius: rem($border-radius-small);
                background-color: $alto;
            }

            &::after {
                position: absolute;
                z-index: 1;
                top: 50%;
                right: 0;

                display: block;

                width: rem(15px);
                height: rem(2px);

                content: '';
                transition: transform $transition-duration $transition-function;
                transform: rotate(-45deg);

                background-color: $alto;
            }
        }

        &__item--big {
            &::before {
                width: rem(28px);
                height: rem(28px);
            }

            &::after {
                width: rem(28px);
                height: rem(2px);
            }
        }
    }

    &__item {
        $size: 20px;

        position: relative;
        overflow: hidden;
        flex-shrink: 0;

        width: rem($size);
        height: rem($size);
        margin-right: rem(8px);

        border-radius: 50%;
        border: rem(2px) solid transparent;
        width: rem($size);
        height: rem($size);

        @media #{$screen-desktop} {
            $size: 22px;

            width: rem($size);
            height: rem($size);
            margin-right: 0;

            //border: none;
            border: rem(1px) solid transparent;
        }

        &::before {
            display: block;

            padding-top: 100%;

            content: '';
        }

        &.white {
            border: rem(1px) solid $alto;
        }

        &--medium {
            $size: 16px;

            width: rem($size);
            height: rem($size);
        }

        &--big {
            $size: 24px;

            width: rem($size);
            height: rem($size);
        }

        &--pink {
            background-color: #f242af;
        }

        &--blue {
            background-color: #4269f2;
        }

        &--green {
            background-color: #31c95b;
        }

        &--yellow {
            background-color: #f2a142;
        }

        &--red {
            background-color: #df4848;
        }

        &--violet {
            background-color: #9348df;
        }

        &--grey {
            background-color: #4e4e4e;
        }

        &--white {
            border: rem(1px) solid $alto;
            background-color: $white;
        }

        &-wrapper {
            @include position-stretching;

            border-radius: 50%;
            @media #{$screen-desktop} {
                padding: 20%;
            }
        }

        &-pic {
            @include position-stretching;
            object-fit: cover;
            top: 50%; 
            left: 50%;

            width: rem(14px);
            height: rem(14px);

            transform: translate(-50%, -50%);
            border-radius: 50%;

            @media #{$screen-desktop} {
                width: rem(12px);
                height: rem(12px);
            } 
        }
    }

    &__name {
        width: rem(115px);
        word-break: break-word;
        white-space: normal;
    }

    &__input + label {
        cursor: pointer;
    }

    &__input:checked + label & {
        &__item {
            border: rem(2px) solid $tuna;
            outline-offset: rem(1px);
            width: rem(20px);
            height: rem(20px);

            @media #{$screen-desktop} {
                border: rem(1px) solid $tuna;
                outline-offset: rem(4px);
                width: rem(22px);
                height: rem(22px);
            }

            &--big {
                border: rem(2px) solid $tuna !important;
                outline-offset: rem(2px);
            }

            &-wrapper {
                @media #{$screen-desktop} {
                    padding: 20%;
                }
            }

            &-pic {
                top: 50%; 
                left: 50%;
                width: rem(14px);
                height: rem(14px);
                transform: translate(-50%, -50%);
                border-radius: 50%;

                @media #{$screen-desktop} {
                    width: rem(12px);
                    height: rem(12px);
                }
            }
        }
    }

    &__input:disabled + label {
        cursor: default;
    }
}