.content {
    &__heading {
        margin-bottom: rem($gap-average);

        @media #{$screen-tablet} {
            margin-bottom: rem($gap-medium);
        }

        &--centered {
            text-align: center;

            @media #{$screen-desktop} {
                text-align: left;
            }
        }

        &--separated {
            margin-bottom: rem($gap-normal);

            @media #{$screen-tablet} {
                margin-bottom: rem($gap-big);
            }
        }
    }

    &__main {
        margin-top: rem($gap-normal);

        @media #{$screen-tablet} {
            margin-top: rem($gap-big);
        }

        &--separated {
            margin-top: rem($gap-big);

            @media #{$screen-tablet} {
                margin-top: rem(35px);
            }

            @media #{$screen-desktop} {
                margin-top: rem(56px);
            }
        }
    }
}