
.container {
    width: 100%;
    max-width: rem($width-container + 2 * $gap-container);
    margin-right: auto;
    margin-left: auto;
    padding-right: rem($gap-container-medium);
    padding-left: rem($gap-container-medium);

    @media #{$screen-tablet} {
        padding-right: rem($gap-normal);
        padding-left: rem($gap-normal);
    }
}