.description {
    @media #{$screen-desktop} {
        display: flex;
    }

    &--tablet {
        @media #{$screen-tablet} {
            display: flex;
            justify-content: space-between;
        }
    }

    &__col {
        @media #{$screen-tablet} {
            width: percentage(2 / 3);
            
        }

        @media #{$screen-desktop} {
            width: auto;
        }

        &--right {
            margin-top: rem($gap-normal);
            margin-bottom: rem($gap-normal);

            @media #{$screen-tablet} {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: rem($gap-normal);
                width: percentage(1 / 3);
            }

            @media #{$screen-desktop} {
                width: rem(470px);
                margin-left: rem(130px);
            }
        }

        &--half {
            @media #{$screen-tablet} {
                width: auto;
            }

            @media #{$screen-desktop} {
                width: percentage(1 / 2);

                h5 {
                    margin-top: 0;
                }
            }

            &:last-child {
                @media #{$screen-desktop} {
                    margin-left: rem(30px);
                }
            }
        }

        h5 {
            margin-top: 0;
        }
    }

    &__image {
        position: relative;

        width: 100%;

        overflow: hidden;

        border: rem(0.355319px) solid $alto;
        border-radius: rem($border-radius-average);

        &--mobile {
            display: block;
            margin-top: rem(24px);
            margin-bottom: rem(24px);

            @media #{$screen-tablet} {
                display: none;
            }

        }

        &--desktop {
            display: none;
            
            @media #{$screen-tablet} {
                display: block;
            }
        }

        &:before {
            $card-width: rem(343px);
            $card-height: rem(426px);

            display: block;

            padding-top: percentage($card-height / $card-width);

            content: '';

            @media #{$screen-tablet} {
                $card-width: rem(470px);
                $card-height: rem(584px);

                padding-top: percentage($card-height / $card-width);
            }
        }

        @media #{$screen-desktop} {
            width: rem(470px);
        }

        &__pic {
            @include position-stretching;

            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    &__annotation {
        font-size: rem($font-size-miniature);
        line-height: ($line-height-miniature / $font-size-miniature);

        display: block;

        letter-spacing: 0.02em;

        color: $saltBox;
    }

    &__title {
        margin-top: 0;
        margin-bottom: rem($gap-medium);
    }
}