.dropzone {
    &__message {
        &-caption {
            padding: rem($gap-normal);

            cursor: pointer;

            border-radius: rem($border-radius-average);
            background-color: $athensGray;
        }

        &-title {
            margin-bottom: rem($gap-average);

            @media #{$screen-tablet} {
                font-weight: $font-weight-semibold;
            }
        }

        &-list {
            @include text-miniature;
        }

        &-item {
            $size-dot: 3px;

            position: relative;

            margin-bottom: rem($gap-mini);
            padding-left: rem(18px);

            color: $saltBox;

            &::before {
                position: absolute;
                top: em(8px); // magic num
                left: 0;

                display: block;

                width: rem($size-dot);
                height: rem($size-dot);

                content: "";

                color: $saltBox;
                border-radius: 50%;
                background-color: currentColor;
            }
        }
    }

    &__control {
        @include hidden-element;
    }

    &__button {
        width: 100%;
        margin-top: rem(16px);

        @media #{$screen-tablet} {
            font-weight: $font-weight-semibold;

            width: auto;
        }
    }

    &__previews {
        margin-top: rem(16px);
    }
}