.footer {
	background-color: $tuna;

    &__container {
        padding-top: rem($gap-big);
        padding-bottom: rem($gap-normal);

        @media #{$screen-tablet} {
            padding-top: rem($gap-normal);
        }
    }

	&__nav {
        display: flex;
        flex-wrap: wrap;

        margin: rem(-$gap-big) rem(-13px) rem(36px);

        @media #{$screen-tablet} {
            margin: rem(-$gap-big) rem(-30px) rem(36px);
        }

		@media #{$screen-desktop} {
            flex-wrap: nowrap;
            justify-content: space-between;

            margin: rem(-$gap-big) rem(-34px) rem($gap-medium);
		}
	}

	&__list {
        width: percentage(1 / 2);
        
		margin-top: rem($gap-big);
        padding: 0 rem(13px);

        @media #{$screen-tablet} {
            padding: 0 rem(30px);
        }

        @media #{$screen-desktop} {
            padding: 0 rem(34px);
        }

        &--dogs {
            @media #{$screen-tablet} {
                width: rem(187px);
            }

            @media #{$screen-desktop} {
                width: rem(200px);
            }
        }

        &--cats {
            @media #{$screen-tablet} {
                width: rem(187px);
            }

            @media #{$screen-desktop} {
                width: rem(200px);
            }
        }

        &--customers {
            @media #{$screen-tablet} {
                width: rem(195px);
            }

            @media #{$screen-desktop} {
                width: rem(202px);
            }
        }

        &--company {
            @media #{$screen-tablet} {
                width: rem(165px);
            }

            @media #{$screen-desktop} {
                width: rem(175px);
            }
        }

        &--contacts {
            @media #{$screen-tablet} {
                width: rem(188px);
            }

            @media #{$screen-desktop} {
                width: rem(224px);
            }
        }

        &--info {
            @media #{$screen-tablet} {
                width: rem(235px);
            }

            @media #{$screen-desktop} {
                width: rem(246px);
            }
        }
	}

	&__item {
        font-size: rem($font-size-mini);
        line-height: ($line-height-small / $font-size-mini);

		margin-bottom: rem($gap-small);
        
        letter-spacing: 0.02em;

        color: $white;

        @include resetting-vertical-indentation-of-last;

        &--heading {
            font-size: rem($font-size-mini);
            font-weight: $font-weight-bold;
            line-height: ($line-height-normal / $font-size-mini);
        }
	}

	&__link {
        display: inline-block;
        padding-left: 1px;

        transition: color $transition-duration $transition-function,
        border-color $transition-duration $transition-function,
        background-color $transition-duration $transition-function;
        text-decoration: none;

        color: inherit;

        &:hover {
            color: $brickRed;
        }

        &:focus {
            color: $mandy2;
        }
	}

    &__social {
        margin-bottom: rem($gap-medium);
        padding: rem($gap-small) 0;

        border-top: rem(1px) solid #494953;
        border-bottom: rem(1px) solid #494953;
    }

	&__bottom {
        display: flex;
        align-items: center;

        margin-top: rem($gap-medium);
	}

	&__copyright {
        font-size: $font-size-miniature;
        line-height: ($line-height-miniature / $font-size-miniature);

        letter-spacing: 0.02em;

        color: $white;
	}

    &__logo {
        max-height: rem(17px);
        margin-left: auto;
    }
}
