.form {
    $font-size-form-elements: $font-size-miniature;
    $horizontal-gutter: 16px;
    $horizontal-gutter-big: 24px;
    $vertical-gutter: 24px;
    $vertical-gutter-small: 16px;

    width: 100%;

    &--separated & {
        &__row {
            margin-right: rem(-$horizontal-gutter-big / 2);
            margin-left: rem(-$horizontal-gutter-big / 2);
        }

        &__col {
            padding-right: rem($horizontal-gutter-big / 2);
            padding-left: rem($horizontal-gutter-big / 2);
        }
    }

    &--separated#{&}--wraped & {
        &__row {
            margin-right: 0;
            margin-left: 0;

            @media #{$screen-tablet} {
                margin-right: rem(-$horizontal-gutter-big / 2);
                margin-left: rem(-$horizontal-gutter-big / 2);
            }
        }

        &__col {
            padding-right: 0;
            padding-left: 0;
            margin-top: rem($vertical-gutter);

            @media #{$screen-tablet} {
                margin-top: 0;
            }

            @media #{$screen-tablet} {
                padding-right: rem($horizontal-gutter-big / 2);
                padding-left: rem($horizontal-gutter-big / 2);
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &--separated#{&}--wraped-small & {
        &__row {
            margin-right: 0;
            margin-left: 0;

            @media #{$screen-tablet} {
                margin-right: rem(-$horizontal-gutter / 2);
                margin-left: rem(-$horizontal-gutter / 2);
            }
        }

        &__col {
            padding-right: 0;
            padding-left: 0;
            margin-top: rem($vertical-gutter-small / 2);

            @media #{$screen-tablet} {
                margin-top: 0;
                padding-right: rem($horizontal-gutter / 2);
                padding-left: rem($horizontal-gutter / 2);
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &--separated#{&}--wraped-big & {
        &__row {
            margin-right: 0;
            margin-left: 0;

            @media #{$screen-desktop} {
                margin-right: rem(-$horizontal-gutter-big / 2);
                margin-left: rem(-$horizontal-gutter-big / 2);
            }
        }

        &__col {
            padding-right: 0;
            padding-left: 0;
            margin-top: rem($vertical-gutter);

            @media #{$screen-desktop} {
                margin-top: 0;
                padding-right: rem($horizontal-gutter-big / 2);
                padding-left: rem($horizontal-gutter-big / 2);
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &--wraped & {
        &__row {
            flex-wrap: wrap;

            @media #{$screen-tablet} {
                flex-wrap: nowrap;
            }
        }
    }

    &--wraped-big & {
        &__row {
            flex-wrap: wrap;

            @media #{$screen-desktop} {
                flex-wrap: nowrap;
            }
        }
    }

    &__row {
        @include resetting-vertical-indentation-of-first;

        display: flex;

        margin-top: rem($vertical-gutter);
        margin-right: rem(-$horizontal-gutter / 2);
        margin-left: rem(-$horizontal-gutter / 2);

        &--centered {
            align-items: center;
        }

        &--gaped {
            margin-top: rem($gap-normal);

            @media #{$screen-tablet} {
                margin-top: rem(40px);
            }
        }

        &--closer {
            margin-top: rem($gap-small);
        }

        &--separated {
            margin-bottom: rem($gap-normal);

            @media #{$screen-tablet} {
                margin-bottom: rem($gap-big);
            }
        }

        &--special {
            @media #{$screen-tablet} {
                margin-top: rem($gap-big);
            }
        }

        &--mixed {
            margin-top: rem($gap-normal);

            @media #{$screen-tablet} {
                margin-top: rem($gap-medium);
            }
        }

        &--merged {
            margin-top: rem($gap-medium);
        }
    }

    &__col {
        $width: 100%;

        width: $width;
        padding-right: rem($horizontal-gutter / 2);
        padding-left: rem($horizontal-gutter / 2);

        &--right {
            margin-left: auto;
        }

        &--definite {
            @media #{$screen-tablet} {
                width: auto;
            }
        }
    }

    &__field {
        font-size: rem($font-size-form-elements);
        line-height: ($line-height-normal / $font-size-form-elements);

        position: relative;

        &--fixed {
            @media #{$screen-tablet} {
                max-width: rem(330px);
            }
        }

        &-block {
            &--field {
                margin-bottom: rem(20px);
            }

            &--input {
                position: relative;
            }

            &--label {
                margin-top: rem(6px);
            }
        }

        &-label {
            font-size: rem($font-size-small);
            line-height: rem(22px);

            position: absolute;
            z-index: $z-index-input;
            top: 0;
            bottom: 0;
            left: rem($gap-average);

            display: flex;
            align-items: center;
            justify-content: center;

            color: $saltBox;
        }

        &-button {
            margin-top: rem(3px);
            margin-left: rem($gap-medium);
        }
    }

    &__label {
        position: absolute;
        z-index: 10;
        top: 0;
        left: rem(12px);

        padding-right: rem(4px);
        padding-left: rem(4px);

        transform: translateY(-50%);
        pointer-events: none;

        color: $saltBox;
        background-color: $white;

        &--required {
            &::after {
                content: " *";

                color: $brickRed;
            }
        }
    }
}