.geolocation{
  display: flex;
  position: relative;
  &__city{
    cursor: pointer;
    display: flex;
    padding-right:13px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 0.02em;

    color: #000000;
  }
  &__address{
    cursor: pointer;
    padding-left:13px;
    border-left: 1px solid #E2E2E2;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
    color: #BC1639;

  }
  &__icon{
    margin-right: 8px;
    width: 10px;
  }
  &__modal{
    position: absolute;
  }

  &__city-list{
    margin-top: 24px;
    overflow: auto;
    height: 550px;
    padding-right: 10px;
    scrollbar-width: 12px;
    scrollbar-color: rgba(255, 255, 255, 0.8) rgba(2, 142, 74, 1);
    &::-webkit-scrollbar{
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(2, 142, 74, 1);
      border-radius: calc(12px / 2);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: calc(12px / 2);
      border: 3px solid rgba(2, 142, 74, 1);
    }

    :root {
      --scrollbarBg: rgba(2, 142, 74, 1);
      --scrollbarThumb: rgba(255, 255, 255, 0.8);
      --scrollbarWidth: 12px;
      --scrollbarBorder: 3px solid rgba(2, 142, 74, 1);
      --scrollbarBorderRadius: calc(12px / 2);
    }

  }
}


