.geolocation{
  display: flex;
  position: relative;
  @media #{$screen-mobile-md} {
    width: 100%;
    justify-content: center;
  }
  &__city-btn{
    cursor: pointer;
    display: flex;
    padding-right:13px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 0.02em;

    color: #000000;
    @media #{$screen-mobile-md} {
      span{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 140px;
      }
    }

  }
  &__address-btn{
    cursor: pointer;
    padding-left:13px;
    border-left: 1px solid #E2E2E2;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
    color: #BC1639;
    @media #{$screen-mobile-md} {
      span{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 160px;
      }
    }

  }
  &__icon{
    margin-right: 8px;
    width: 10px;
  }
  &__modal{
    position: absolute;
  }

  &__city-list{
    margin-top: 24px;
    overflow: auto;
    height: 550px;
    padding-right: 10px;
    scrollbar-width: 7px;
    scrollbar-color: rgb(105, 103, 109) rgb(105, 103, 109);
    &::-webkit-scrollbar{
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: rgb(208, 208, 208);
      border-radius: calc(12px / 2);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(105, 103, 109);
      border-radius: calc(12px / 2);
      border: 3px solid rgb(105, 103, 109);
    }

    :root {
      --scrollbarBg: rgb(105, 103, 109);
      --scrollbarThumb: rgba(255, 255, 255, 0.8);
      --scrollbarWidth: 7px;
      --scrollbarBorder: 3px solid rgb(105, 103, 109);
      --scrollbarBorderRadius: calc(12px / 2);
    }
    @media #{$screen-mobile-md} {
      .radio-green{
        &__label{
          font-weight: 600!important;
          font-size: rem(16px);
          line-height: rem(24px);
          .radio-green__small{
            line-height: rem(20px);
          }
        }
      }
    }


  }
}


.modal-geolocation{
  $height-input: 48px;
  $height-input-medium: 44px;
  $height-input-small: 36px;
  width: rem(528px);
  &__container{
    width: 100%;
    padding: 0 20px;
    @media #{$screen-tablet} {
      padding: 0 40px;
    }
  }
  & .modal__content{
    padding-top: rem(20px);
  }
  & .modal__section--content{
    padding-left: rem(18px);
    padding-right: rem(18px);
    @media #{$screen-tablet} {
      padding-left: rem(29px);
      padding-right: rem(29px);
    }

    &.modal-geolocation__content1{
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media #{$screen-mobile-md} {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  & .modal__section--header{
    padding-left: rem(25px);
    margin-bottom: rem(20px);
    &.city{

      @media #{$screen-tablet} {
        padding-left: rem(58px);
      }
    }

  }
  & .geolocation__header{
    font-size: rem(20px);
    text-align: left;
    max-width: rem(295px);

    //padding: 0 rem(20px);
    @media #{$screen-tablet} {
      font-size: rem(24px);
      max-width: rem(413px);
    }
  }
  & input[type="text"],  input[type="password"],  input[type="email"] {
    font-size: rem($font-size-average);
    height: rem($height-input);
    padding-right: rem($gap-medium);
    padding-left: rem($gap-medium);
    font-weight: $font-weight-semibold;
  }

  &__city{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:  rem(34px);
    padding-bottom:  rem(21px);
    border-bottom: 1px solid $alto;

  }
  &__change-city{
    cursor: pointer;
    &:hover{
      color: #BC1639;
    }
  }
  &__curr-city{
    display: flex;
    &-icon{
      width: rem(19.7px);
    }
    &-text{
      margin-left: rem(10px);
      font-style: normal;
      font-weight: $font-weight-medium;
      font-size: rem($font-size-medium);
      line-height: rem($line-height-medium);
      color: $black;
      & b{
        font-size: rem($font-size-medium);
        font-weight: $font-weight-bold;
      }
      @media #{$screen-mobile-md} {
        font-size: rem($font-size-mini);
        & b{
          font-size: rem($font-size-small);
          font-weight: rem($font-weight-semibold);
        }
      }

    }
  }

  &__message{
    font-style: normal;
    font-weight: 500;
    font-size: $font-size-normal;
    line-height: $line-height-medium;
    color: $black;
    text-align: center;
    margin: rem(15px) 0 rem(26px) 0;
  }

  &__delivery-card{
    cursor: pointer;
    margin-top: 22px;
    position: relative;
    border: 2px solid #D0D0D0;
    border-radius: 8px;
    padding: 24px;
    h4{
      margin-top: 0;
    }
    button{
      position: absolute;
      top: 22px;
      right: 15px;
    }
    &:hover{
      border: 2px solid #378A5F;
    }
    &.active{
      border: 2px solid #378A5F;
    }
  }
}

.geolocation__address{
  display: flex;
  flex-wrap: wrap;
  max-width: rem(1307px);
}

.geolocation__address--form{
  margin-top: rem(18px);
  @media #{$screen-tablet} {
    margin-top: rem(50px);
  }
  max-width: rem(475px);
}