.header {
    border-bottom-right-radius: rem($gap-small);
    border-bottom-left-radius: rem($gap-small);
    box-shadow: $box-shadow-mini;
    border-radius: 0px 0px rem(8px) rem(8px);

    @media #{$screen-tablet} {
        border-radius: 0;
        box-shadow: none;
    }

    &--main {
        border-bottom-right-radius: rem($gap-small);
        border-bottom-left-radius: rem($gap-small);
        box-shadow: $box-shadow-mini;
        border-radius: 0px 0px rem(8px) rem(8px);
    
        @media #{$screen-tablet} {
            border-radius: 0;
            box-shadow: none;
        }
    }

    &--main & {
        &__row {
            border-radius: 0px 0px rem(8px) rem(8px);

            &--nav {
                padding-top: rem(20px);
                padding-bottom: rem(20px);

                background-color: $white;

                &::before {
                    position: absolute;
                    top: 0;

                    width: 100%;
                    height: rem(1px);

                    content: '';

                    background-color: $alto;

                    @media #{$screen-desktop} {
                        right: 0;
                        left: 0;

                        max-width: rem(1170px);
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }

    &__wrapper {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @media #{$screen-tablet} {
            justify-content: flex-start;
            flex-wrap: nowrap;
        }
    }

    &__row {
        border-radius: 0px 0px rem(8px) rem(8px);

        &--main {
            padding-top: rem(20px);
            padding-bottom: rem(20px);

            background-color: $white;

            @media #{$screen-tablet} {
                padding-top: rem(28px);
                padding-bottom: rem(28px);
            }

            @media #{$screen-desktop} {
                position: relative;
            }
        }

        &--nav {
            position: relative;

            display: none;

            padding-top: rem(10px);
            padding-bottom: rem(10px);

            background-color: $athensGray;

            @media #{$screen-tablet} {
                display: block;
            }
        }
    }

    &__block {
        &--catalog {
            order: -1;

            @media #{$screen-tablet} {
                order: initial;

                padding-left: rem(26px);
            }

            @media #{$screen-desktop} {
                padding-left: rem(60px);
            }
        }

        &--search {
            flex-grow: 1;
            order: 1;

            width: 100%;
            margin-top: rem(12px);

            @media #{$screen-tablet} {
                order: initial;

                width: auto;
                margin-top: 0;
                padding-left: rem($gap-big);
            }

            @media #{$screen-desktop} {
                padding-left: rem($gap-medium);
            }
        }

        &--personal {
            @media #{$screen-tablet} {
                padding-left: rem(43px);
            }

            @media #{$screen-desktop} {
                padding-left: rem(48px);
            }
        }
    }

    &__search {
        &--tablet {
            display: none;

            @media #{$screen-tablet} {
                display: block;
            }

            @media #{$screen-desktop} {
                display: none;
            }
        }

        &--desktop {
            @media #{$screen-tablet} {
                display: none;
            }

            @media #{$screen-desktop} {
                display: block;
            }
        }

        &-input {
            &-control {
                font-size: rem($font-size-mini) !important;
                font-weight: $font-weight-medium !important;
                line-height: $line-height-normal !important;
                border-radius: rem(4px);
                
                @media #{$screen-desktop} {
                    border-color: #f2f1f4;
                    background-color: #f2f1f4;

                    padding-right: rem(20px) !important;
                    padding-left: rem(20px) !important;
    
                    &:focus {
                        border-color: #f2f1f4;
                    }
                }

                &::placeholder {
                    font-size: rem($font-size-mini) !important;
                    font-weight: $font-weight-medium !important;
                    line-height: $line-height-normal !important;

                    color: $gray;
                }
            }
        }
    }

    &__catalog {
        &-button {
            &--main {
                display: none;

                @media #{$screen-tablet} {
                    display: flex;
                }
            }

            &--hidden {
                margin-left: rem(6px);

                @media #{$screen-tablet} {
                    display: none;
                }
            }

            &--close {
                display: none;
            }

            &-menu--active & {
                &--close {
                    @media #{$screen-tablet} {
                        display: block;
                    }
                }

                &--open {
                    @media #{$screen-tablet} {
                        display: none;
                    }
                }
            }
        }
    }
}