.input {
    $height-input: 48px;
    $height-input-medium: 44px;
    $height-input-small: 36px;

    position: relative;

    &--full {
        width: 100%;
    }

    &--squared & {
        &__control {
            border-radius: $border-radius-small;
        }
    }

    &--small & {
        &__control {
            @include text-tiny;

            height: rem($height-input-medium);
            padding-right: rem($gap-average);
            padding-left: rem($gap-average);
        }
    }

    &--mini & {
        &__control {
            height: rem($height-input-small);
            padding-right: rem($gap-average);
            padding-left: rem($gap-average);
        }
    }

    &--tiny & {
        &__control {
            width: rem(120px);
        }
    }

    &--placeholder & {
        &__control {
            padding-top: rem(16px);
        }
    }

    &--textarea & {
        &__control {
            height: rem(108px);
            padding-top: rem(14px);
            padding-bottom: rem(14px);

            resize: none;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                width: 0;
                background: transparent;
            }
        }
    }

    &--simple & {
        &__control {
            border: 0;
        }
    }

    &--iconed & {
        &__control {
            padding-right: rem(48px);
        }
    }

    &--prefix & {
        &__control {
            padding-left: rem(36px);
        }
    }

    &--centered & {
        &__control {
            text-align: center;
        }
    }

    &__control {
        font-size: rem($font-size-small);
        line-height: rem(22px);
        display: block;

        width: 100%;
        height: rem($height-input);
        padding-right: rem($gap-medium);
        padding-left: rem($gap-medium);

        transition: color $transition-duration $transition-function,
                    border-color $transition-duration $transition-function,
                    background-color $transition-duration $transition-function;

        color: $tuna;
        border: rem(1px) solid $alto;
        border-radius: rem($border-radius-middle);
        background-color: $white;
        box-shadow: none;

        &:focus {
            border-color: $alto;
            outline: none;
        }

        &--error {
            border-color: $brickRed !important;

            &:focus {
                border-color: $brickRed !important;
            }
        }

        &--error + .select2 {
            .select2-selection--single {
                border-color: $brickRed !important;

                &:focus {
                    border-color: $brickRed !important;
                }
            }
        }

        &--error + label {
            .checkbox__icon {
                border: rem(1px) solid $brickRed;
            }
        }

        &-error {
            font-size: rem($font-size-tiny);
            line-height: rem(14px);

            margin-left: rem($gap-medium);

            color: $brickRed;
        }
    }

    %placeholder {
        transform: translateY(-10px);

        transition: transform $transition-duration $transition-function;
    }

    &__control:focus + &__placeholder {
        @extend %placeholder;
    }

    &__placeholder {
        @include text-tiny;

        transform: translateY(-10px);

        transition: transform $transition-duration $transition-function;

        position: absolute;
        top: rem(14px);
        left: rem($gap-average);

        pointer-events: none;

        color: rgba($saltBox, .85);
    }

    &__control[value=""] + &__placeholder {
        transform: translateY(0);
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: rem(12px);

        width: rem(24px);
        height: rem(24px);

        cursor: pointer;
        transform: translateY(-50%);

        &--small {
            width: rem(20px);
            height: rem(20px);
        }

        &-password {
            &-icon {
                &--show {
                    display: none;
                }
            }

            &--show & {
                &-icon {
                    &--hidden {
                        display: none;
                    }

                    &--show {
                        display: block;
                    }
                }
            }
        }
    }

    &__button {
        position: absolute;
        right: 0;
        top: 0;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &--search {
            top: 50%;
            right: rem($gap-mini);

            width: rem(36px);
            height: rem(36px);

            transform: translateY(-50%);

            border-top-left-radius: rem($border-radius-small);
            border-bottom-left-radius: rem($border-radius-small);
        }

        &--select {
            top: 50%;
            right: rem($gap-mini);

            width: rem(32px);
            height: rem(32px);

            transform: translateY(-50%);

            border-top-left-radius: rem($border-radius-small);
            border-bottom-left-radius: rem($border-radius-small);
        }
    }

    &__counter {
        @include text-tiny;

        margin-top: rem(6px);
        margin-right: rem($gap-medium);

        text-align: right;

        color: $saltBox;
    }
}