.it-work {
    padding: rem($gap-medium);

    border-radius: rem($border-radius-average);
    background: $athensGray;

    @media #{$screen-desktop} {
        padding: rem(46px) rem(48px) rem(59px) rem(48px);
    }
    
    &__title {
        margin-bottom: rem(30px);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;

        display: flex;
        align-items: center;

        width: 100%;
        margin-top: rem(36px);
        padding: rem(26px) rem(39px) rem(26px) rem(21px);

        border-left: rem(4px) solid transparent;
        border-radius: rem($border-radius-average);
        background: $white;

        &:first-child {
            margin-top: 0;

            @media #{$screen-tablet} {
                margin-top: rem(30px);
            }
        }

        @media #{$screen-tablet} {
            margin-top: rem(30px);
            margin-right: rem(50px);
        }

        &:nth-child(1) {
            border-color: $brickRed;
            
            @media #{$screen-tablet} {
                width: rem(303px);
            }
        }

        &:nth-child(2) {
            border-color: $piper;

            @media #{$screen-tablet} {
                width: 241px;
            }
        }

        &:nth-child(3) {
            border-color: $buddhaGold;

            @media #{$screen-tablet} {
                width: 269px;
            }
        }
        &:nth-child(4) {
            border-color: $seaGreen; 

            @media #{$screen-tablet} {
                width: 303px; 
                padding-right: rem(35px);  
            }

        }

        &:nth-child(5) {
            border-color: $bostonBlue;

            @media #{$screen-tablet} {
                width: 471px;
            }
        }

        &-text {
            font-size: rem($font-size-mini);
            font-weight: $font-weight-semibold;
            
            line-height:( $line-height-mini/$font-size-mini);
        }
    }

    &__count {
        position: absolute;
        top: rem(-43px);
        right: calc(50% - 50px);

        width: rem(100px);
        height: rem(96px);

        @media #{$screen-tablet} {
            top: calc(50% - 43px);
            right: rem(-50px);
        }

        &-picture {
            object-fit: none;
        }
    }
}