.label {
    font-size: rem(6px);
    line-height: rem(10px);

    display: inline-block;

    padding: rem(2px) rem($gap-small);

    color: $white;
    border-radius: rem($border-radius-small);

    @media #{$screen-desktop} {
        font-size: rem($font-size-miniature);
        line-height: rem($line-height-small);
    }

    &--pink {
        background-color: $hibiscus;
    }

    &--violet {
        background-color: $wisteria;
    }

    &--green {
        background-color: $seaGreen;
    }

    &--blue {
        background-color: $bostonBlue;
    }

    &--red {
        background-color: $brickRed;
    }

    &--orange {
        background-color: $piper;
    }

    &--primary {
        font-size: rem($font-size-normal);
        font-weight: $font-weight-bold;
        line-height: ($line-height-small / $font-size-normal);

        padding: rem($gap-small);

        letter-spacing: 0.02em;
        
        color: $athensGray;
        border-radius: rem($border-radius-middle);

        @media #{$screen-tablet} {
            font-size: rem($font-size-average);
            line-height: ($line-height-normal / $font-size-average);
        }
    }
    
    &--secondary {
        font-size: rem($font-size-miniature);
        font-weight: $font-weight-semibold;
        line-height: ($line-height-tiny / $font-size-miniature);

        padding: rem(6px) rem($gap-average);

        letter-spacing: 0.04em;

        border: rem(1px) solid $white;
        border-radius: rem(34px);

        @media #{$screen-tablet} {
            font-size: rem($font-size-mini);
            line-height: ($line-height-miniature / $font-size-mini);
        }
    }
}