.logo {
    width: rem(168px);
    height: rem(64px);

    @media #{$screen-desktop} {
        width: rem(188px);
        height: rem(72px);
    }

    &--small {
        width: rem(125px);
        height: rem(48px);
    }

    &__link,
    &__pic {
        width: 100%;
        height: 100%;
    }

    &__link {
        display: inline-flex;
    }

    &__pic {
        @include object-fit(contain);
    }
}