.logo {
    width: rem(148px);
    height: rem(41px);

    @media #{$screen-desktop} {
        width: rem(166px);
        height: rem(46px);
    }

    &--small {
        width: rem(125px);
        height: rem(48px);
    }

    &__link,
    &__pic {
        width: 100%;
        height: 100%;
    }

    &__link {
        display: inline-flex;
    }

    &__pic {
        @include object-fit(contain);
    }
}