.menu {
    padding-top: rem($gap-medium);

    @media #{$screen-tablet} {
        padding: rem(60px) rem($gap-medium) rem($gap-big);
    }

    @media #{$screen-desktop} {
        padding: rem(40px) rem(100px);
    }

    &--private {
        padding: 0;
    }

    &--private & {
        &__list {
            align-items: flex-start;
            flex-direction: column;

            margin: 0;
            padding: rem(18px) rem($gap-mini);

            border: rem(1px) solid $alto;
            border-radius: rem($border-radius-average);

            @media #{$screen-tablet} {
                padding: rem(22px) rem($gap-small);
            }
        }

        &__item {
            @include text-middle ($font-weight-medium);
            @include resetting-vertical-indentation-of-first;

            width: 100%;
            margin: 0;
            margin-top: rem($gap-small);
            padding: rem(6px) rem(20px);

            @media #{$screen-tablet} {
                margin-top: rem(12px);
                padding: rem(6px) rem($gap-medium);
            }

            &:hover {
                border-radius: rem($gap-average);
                background-color: $athensGray;
            }

            &--active {
                border-radius: rem($gap-average);
                background-color: $athensGray;
            }
        }

        &__link {
            display: flex;
            align-items: center;

            text-decoration: none;

            color: $tuna;
        }

        &__icon {
            $size: 20px;

            flex-shrink: 0;

            display: block;

            width: rem($size);
            height: rem($size);
            margin-right: rem($gap-small);

            @media #{$screen-tablet} {
                $size: 24px;

                width: rem($size);
                height: rem($size);
            }

            &--active {
                color: $brickRed;
            }
        }

        &__counter {
            $size: 20px;

            @include text-miniature;

            line-height: $line-height-small;

            display: flex;
            align-items: center;
            justify-content: center;

            width: rem($size);
            height: rem($size);
            margin-left: rem($gap-small);

            color: $white;
            border-radius: 50%;
            background-color: $tuna;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: rem($gap-medium);
        padding: 0 rem(52px);

        @media #{$screen-tablet} {
            margin-bottom: rem($gap-normal);
            padding: 0;
        }

        @media #{$screen-desktop} {
            text-align: left;
        }

        &-title {
            font-size: rem($font-size-average);
            font-weight: $font-weight-bold;
            line-height: rem($line-height-normal);

            @media #{$screen-desktop} {
                font-size: rem($font-size-middle);
                line-height: rem($line-height-middle);
            }
        }

        &-logo {
            margin-bottom: rem($gap-normal);

            @media #{$screen-tablet} {
                display: none;
            }
        }

        &-profile {
            width: 100%;
            margin-bottom: rem(40px);

            @media #{$screen-tablet} {
                display: none;
            }

            & .button {
                margin-bottom: rem(24px);

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__content {
        padding: 0 rem(52px);

        @media #{$screen-tablet} {
            padding: 0;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 100%;

        @media #{$screen-tablet} {
            justify-content: center;
            flex-direction: row;
        }
    }

    &__col {
        display: flex;

        @media #{$screen-tablet} {
            justify-content: center;

            width: 50%;
        }

        @media #{$screen-desktop} {
            justify-content: flex-start;
        }

        &--right {
            margin-top: rem($gap-normal);

            @media #{$screen-tablet} {
                margin-top: 0;

                border-left: rem(1px) solid $alto;
            }

            @media #{$screen-desktop} {
                padding-left: rem(60px);
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;

        margin-top: rem(-$gap-small / 2);
        margin-bottom: rem(-$gap-small / 2);

        @media #{$screen-desktop} {
            display: block;
        }
    }

    &__item {
        font-size: rem($font-size-small);
        line-height: rem(22px / $font-size-small);

        padding-top: rem($gap-small / 2);
        padding-bottom: rem($gap-small / 2);

        @media #{$screen-tablet} {
            font-size: rem($font-size-mini);
            line-height: rem($line-height-small / $font-size-mini);
        }

        &--heading {
            font-size: rem($font-size-normal);
            font-weight: $font-weight-semibold;
            line-height: rem($line-height-normal / $font-size-normal);

            @media #{$screen-tablet} {
                font-size: rem($font-size-mini);
                font-weight: $font-weight-bold;
                line-height: rem($line-height-normal / $font-size-mini);
            }
        }

        &--small {
            font-size: rem($font-size-mini);
            font-weight: $font-weight-regular;
            line-height: rem(20px);
        }

        &-link {
            font-size: inherit;
            font-weight: inherit;
        }
    }

    &__image {
        flex-shrink: 0;

        display: none;

        width: rem(270px);
        height: rem(164px);
        margin-left: rem(30px);

        border-radius: rem($border-radius-average);

        @media #{$screen-desktop} {
            display: block;
        }

        &-pic {
            border-radius: inherit;
        }
    }

    &__division {
        margin-top: rem($gap-medium);
        margin-bottom: rem(32px);
        padding-top: rem(36px);
        padding-bottom: rem(144px);

        background-image: url('/local/templates/.default/images/animals.png');
        background-size: contain;
        background-color: #f4f3f6;
        background-position: bottom;
        background-repeat: no-repeat;

        @media #{$screen-tablet} {
            display: none;
        }
    }
}