.modal {
    &#{&}--small {
        max-width: rem(343px);
    }

    &#{&}--wide2 {
        width: rem(528px);
    }

    &#{&}--wide {
        width: rem(770px);
    }

    &#{&}--orderout {
        width: rem(322px);

        @media #{$screen-tablet} {
            width: rem(625px);
        }
    }

    &#{&}--limited {
        max-height: rem(750px);
    }

    &--limited & {
        &__section {
            @media #{$screen-tablet} {
                padding-right: rem(200px);
                padding-left: rem(200px);
            }

            &--header {
                padding-bottom: rem($gap-big);

                @media #{$screen-tablet} {
                    padding-bottom: rem($gap-normal);
                }
            }
        }
    }

    &--small & {
        &__content {
            padding-top: rem($gap-big);
            padding-bottom: rem(40px);

            @media #{$screen-tablet} {
                padding-bottom: rem($gap-big);
            }
        }

        &__section {
            &--header {
                padding-bottom: rem($gap-average);
            }
        }
    }

    &--full & {
        &__content {
            padding-top: rem($gap-big);
            padding-bottom: rem($gap-big);

            @media #{$screen-tablet} {
                padding-top: rem(40px);
                padding-bottom: rem(40px);
            }
        }

        &__section {
            @media #{$screen-tablet} {
                padding-right: rem($gap-big);
                padding-left: rem($gap-big);
            }

            &--header {
                padding-bottom: rem($gap-normal);

                @media #{$screen-tablet} {
                    padding-bottom: rem(30px);
                }
            }
        }
    }

    &--centered & {
        &__section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &--scrolled & {
        &__content {
            padding-bottom: 0;
        }

        &__section {
            &--content {
                min-height: rem(320px);
                max-height: rem(505px);

                @media #{$screen-tablet} {
                    padding-right: rem(200px);
                }

                &.os-host-overflow-y {
                    padding-right: rem(30px);

                    @media #{$screen-tablet} {
                        padding-right: rem(200px);
                    }
                }

                .os-scrollbar-vertical {
                    right: rem($gap-medium);
                    bottom: rem($gap-normal);

                    @media #{$screen-tablet} {
                        right: rem($gap-normal);
                    }
                }
            }

            &-actions {
                margin-bottom: 0;
                padding-bottom: rem($gap-big);

                @media #{$screen-tablet} {
                    margin-bottom: 0;
                    padding-bottom: rem(64px);
                }
            }
        }
    }

    &--whole {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        border: rem(1px) solid $alto;
    }

    &--whole & {
        &__content {
            padding-top: rem(100px);
            padding-bottom: rem(130px);
        }

        &__section {
            padding-right: rem($gap-big);
            padding-left: rem($gap-big);

            &--header {
                padding-bottom: rem($gap-big);
            }
        }
    }

    &--outer {
        .fancybox {
            &-close {
                display: none;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        height: auto !important;
        max-width: 100%;

        padding-top: rem($gap-big);
        padding-bottom: rem($gap-big);

        @media #{$screen-tablet} {
            padding-top: rem(48px);
            padding-bottom: rem(64px);
        }

        &--support-notification {
            background-color: $athensGray;
        }

        &--order {
            padding: rem(32px) 0;
            max-height: rem(625px);

            & .os-scrollbar.os-scrollbar-vertical {
                padding: rem(35px) rem(5px) rem(17px) 0;

                @media #{$screen-tablet} {
                    padding: rem(35px) rem(32px) rem(17px) 0;
                }
            }

            @media #{$screen-tablet} {
                max-height: rem(823px);
                padding-right: rem(20px);
            }
        }
    }

    &__section {
        padding-right: rem($gap-medium);
        padding-left: rem($gap-medium);

        &--header {
            flex-shrink: 0;

            @media #{$screen-tablet} {
                text-align: center;
            }
        }

        &--content {
            flex-grow: 1;
        }

        &--order {
            padding: 0 rem(10px);

            @media #{$screen-tablet} {
                padding: 0 rem(60px);
            }
        }

        &-actions {
            margin-top: rem($gap-medium);

            @media #{$screen-tablet} {
                margin-top: rem(20px);
            }
        }

        &-text {
            font-size: rem($font-size-small);

            text-align: center;

            color: $saltBox;
        }

        &-notice {
            font-size: rem($font-size-small);

            margin-top: rem($gap-average);

            color: $seaGreen;
        }

        &-variant {
            display: none;

            &--active {
                display: block;
            }
        }
    }

    .fancybox {
        &-bg {
            background: rgba($tuna, .55);
        }

        &-close {
            $button-offset: 12px;
            width: rem(25px);
            position: absolute;
            top: rem($button-offset);
            right: rem($button-offset);

            cursor: pointer;

            @media #{$screen-tablet} {
                $button-offset: 24px;

                top: rem($button-offset);
                right: rem($button-offset);
            }
            &-icon {
                $icon-size: 24px;

                width: rem($icon-size);
                height: rem($icon-size);

                color: $saltBox;
                fill: transparent;
            }
            &-icon-1 {

            }
        }
        &-close.outside {
            $button-outside: -20px;
            top: rem($button-outside);
            right: rem($button-outside);
        }

        &-content {
            overflow: hidden;

            padding: 0;
        }

        &-slide {
            $modal-overlay-offset: 16px;

            padding-right: rem($modal-overlay-offset);
            padding-left: rem($modal-overlay-offset);
        }

        &-navigation {
            display: none !important;
        }
    }
}






.modal2.bx-core-adm-dialog {
    $height-input: 48px;
    $height-input-medium: 44px;
    $height-input-small: 36px;

    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%);
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 50px 50px 0 0;
    & .bx-core-adm-dialog-content-wrap.adm-workarea {
    }
    & .bx-core-adm-dialog-head{
        background-color: transparent;
        box-shadow: none;
        border: none;
        border-radius: 0;
        top: 87px;
        left: 21px;
        & .bx-core-adm-dialog-head-icons{
            margin: 0;
            padding-right:21px ;
            background-color:transparent;
            @media #{$screen-mobile-lg} {
                margin: 62px 0 0 0;
            }
        }
        @media #{$screen-mobile-lg} {
            position: initial;
            margin-bottom: -70px;
        }
    }
    & .bx-core-adm-dialog-content-wrap.adm-workarea{
        @media #{$screen-mobile-lg} {
            margin-top: 0;
            padding: 0;
        }

    }
    & .modal2__close{
        z-index: 99999;
        //position: fixed;
        //top: 15.5%;
        //right: 33%;
        width: 46px;
        height: 46px;
        background: url("/local/templates/.default/images/icons/close.svg") #00000033 no-repeat center;
        border-radius: 50%;
        &:hover{
           background-position: center;
        }
        @media #{$screen-mobile-lg} {
            width: 13px;
            height: 13px;
            background: url("/local/templates/.default/images/icons/close_black.svg") no-repeat center;
            border-radius: 0;
            background-size: cover;
        }
    }
    & .bx-core-adm-dialog-content-wrap-inner{
        padding: 36px;
        @media #{$screen-mobile-lg} {
            width: 100%!important;
            height: 100vh!important;
            padding-top: 80px;
        }
    }
    & .bx-core-adm-dialog-content{
        background-color: white;
        border-radius: 30px;
        overflow: hidden;
        @media #{$screen-mobile-lg} {
            width: 100%!important;
            height: 100vh!important;
            border-radius: 0;
        }
    }
    & .input {
        padding-right: 0;
        padding-left:0;
    }
    & input[type="text"],  input[type="password"],  input[type="email"] {
         font-size: rem($font-size-average);
         height: rem($height-input);;
        padding-right: rem($gap-medium);
        padding-left: rem($gap-medium);
        font-weight: $font-weight-semibold;
    }


    @media #{$screen-mobile-lg} {
        padding: 0;
        min-width: 100%;
    }
}



