.navigation {
    $gap: 32px;
    display: none;
    &__list {
        display: flex;
        align-items: center;

        margin-right: rem(-$gap / 2);
        margin-left: rem(-$gap / 2);
    }

    &__item {
        padding-right: rem($gap / 2);
        padding-left: rem($gap / 2);
    }

    &__button {
        font-size: rem($font-size-mini);
        line-height: ($line-height-normal / $font-size-mini);
    }
}

@media ($screen-tablet) {
    .navigation {
        display: block;
    }
}