.nutritionals {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-right: rem(-$gap-medium / 2);
    margin-left: rem(-$gap-medium / 2);

    @media #{$screen-tablet} {
        margin-right: rem(-$gap-normal / 2);
        margin-left: rem(-$gap-normal / 2);
    }

    @media #{$screen-desktop} {
        margin-right: rem(-15px);
        margin-left: rem(-15px);
    }

    &__item {
        width: percentage(1 / 2);
        padding: rem($gap-medium / 2);

        @media #{$screen-tablet} {
            width: percentage(1 / 4);
            padding: rem($gap-normal / 2);
        }

        @media #{$screen-desktop} {
            width: percentage(1 / 3);
            padding: rem($gap-medium / 2) rem(15px);
        }
    }
}