.page {
    $WIDTH_SCROLLBAR: 17px;

    display: flex;
    flex-direction: column;

    min-height: 100vh;

    &--locked {
        overflow-y: hidden;

        @media #{$screen-tablet} {
            padding-right: rem($WIDTH_SCROLLBAR);
        }

        &-mobile {
            @media #{$screen-device-only} {
                overflow: hidden;

                padding-right: rem($WIDTH_SCROLLBAR);
            }
        }
    }

    &__header {
        position: fixed;
        z-index: $z-index-header-default;
        right: 0;
        left: 0;
        flex-shrink: 0;
    }

    &__header--main & {
        margin-top: rem($height-header-main-mobile);

        @media #{$screen-tablet} {
            margin-top: rem($height-header-main-tablet);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        padding-top: rem(24px);
        padding-bottom: rem(56px);
        margin-top: rem($height-header-mobile);

        @media #{$screen-tablet} {
            margin-top: rem($height-header-tablet);
            padding-top: rem(48px);
            padding-bottom: rem(80px);
        }

        &--breadcrumbs {
            padding-top: rem($gap-normal);
        }

        &--main {
            padding-top: 0;
        }
    }

    &__content--breadcrumbs & {
        &__heading {
            margin-top: rem($gap-normal);
    
            @media #{$screen-tablet} {
                margin-top: rem($gap-big);
            }
    
            @media #{$screen-desktop} {
                margin-top: rem(48px);
            }
        }
    }

    &__footer {
        flex-shrink: 0;
    }
}