.personal {
    $gap: 24px;
    $gap-big: 30px;

    &__elements {
        display: flex;
        align-items: center;

        margin-right: rem(-$gap-big / 2);
        margin-left: rem(-$gap-big / 2);

        @media #{$screen-desktop} {
            margin-right: rem(-$gap / 2);
            margin-left: rem(-$gap / 2);
        }
    }

    &__item {
        padding-right: rem($gap-big / 2);
        padding-left: rem($gap-big / 2);

        @media #{$screen-desktop} {
            padding-right: rem($gap / 2);
            padding-left: rem($gap / 2);
        }

        &--hidden {
            display: none;

            @media #{$screen-tablet} {
                display: block;
            }
        }

        &--basket {
            margin-right: rem(6px);

            @media #{$screen-tablet} {
                margin-right: 0;
            }

            @media #{$screen-desktop} {
                margin-right: rem(14px);
            }
        }
    }

    &__button {
        &-text {
            display: none;

            letter-spacing: 0.02em;

            @media #{$screen-tablet} {
                display: block;
            }
        }
    }
}