.pet-cards {
    &__item {
        & + & {
            margin-top: rem($gap-average);

            @media #{$screen-tablet} {
                margin-top: rem($gap-medium);
            }
        }
    }

    &__adding {
        margin-top: rem(20px);

        @media #{$screen-tablet} {
            margin-top: rem($gap-medium);
        }
    }
}