.price {
    &--inlined & {
        &__calculation {
            flex-direction: column;
            align-items: flex-start;

            &-total {
                margin-right: 0;
                margin-bottom: rem(2px);
            }
        }
    }

    &__main {
        font-size: rem($font-size-miniature);

        display: flex;
        align-items: baseline;

        @media #{$screen-desktop} {
            font-size: rem($font-size-small);

            margin-bottom: rem(6px);
        }
    }

    &__calculation {
        display: flex;
        align-items: center;

        &--columned {
            flex-direction: column;

            @media #{$screen-desktop} {
                flex-direction: row;
            }
        }

        &--columned & {
            &-total {
                margin-right: 0;
            }
        }

        &-value {
            display: flex;
            align-items: baseline;

            &--remains {
                font-size: rem(17px);
            }
        }

        &-total {
            font-size: rem($font-size-mini);
            font-weight: $font-weight-bold;
            line-height: ($line-height-small/$font-size-mini);

            display: flex;
            align-items: baseline;
            
            margin-right: rem(6px);

            @media #{$screen-desktop} {
                font-size: rem($font-size-normal);
                line-height: rem($line-height-small);

                margin-right: rem($gap-small);
            }

            &--has-icon {
                display: flex;
                align-items: center;
            }

            &--red {
                color: $brickRed;
            }
        }

        &-accumulation {
            font-size: rem(10px);
            font-weight: $font-weight-bold;
            line-height: rem(12px);

            padding: rem(2px) rem($gap-small);

            color: #43aa8b;
            border: rem(1px) solid #43aa8b;
            border-radius: rem(20px);

            @media #{$screen-desktop} {
                font-size: rem($font-size-miniature);
                line-height: rem($line-height-mini);

                padding: 0 rem($gap-average);
            }
        }

        &-picture {
            margin-right: rem($gap-mini);
        }

        &-icon {
            $size: 28px;

            width: rem($size);
            height: rem($size);
        }
    }

    &__calculation & {
        &__main {
            margin-bottom: 0;

            letter-spacing: 0.02em;

            text-decoration-line: line-through;

            color: $saltBox;
        }
    }
}
