.price {
    &__main {
        font-size: rem($font-size-small);

        @media #{$screen-desktop} {
            margin-bottom: rem(6px);
        }
    }

    &__calculation {
        display: flex;
        align-items: center;

        &--columned {
            flex-direction: column
        }

        &--columned & {
            &-total {
                margin-right: 0
            }
        }

        &-total {
            font-size: rem($font-size-medium);
            font-weight: $font-weight-bold;
            line-height: rem($line-height-medium);

            margin-right: rem(6px);

            @media #{$screen-desktop} {
                font-size: rem($font-size-normal);
                line-height: rem($line-height-small);

                margin-right: rem($gap-small);
            }

            &--red {
                color: $brickRed;
            }
        }

        &-accumulation {
            font-size: rem(10px);
            font-weight: $font-weight-bold;
            line-height: rem(12px);

            padding: rem(2px) rem($gap-small);

            color: #43aa8b;
            border: rem(1px) solid #43aa8b;
            border-radius: rem(20px);

            @media #{$screen-desktop} {
                font-size: rem($font-size-miniature);
                line-height: rem($line-height-mini);

                padding: 0 rem($gap-average);
            }
        }
    }

    &__calculation & {
        &__main {
            margin-bottom: 0;

            letter-spacing: 0.02em;

            text-decoration-line: line-through;

            color: $saltBox;
        }
    }
}