.profile {
    &__title {
        margin-bottom: rem($gap-medium);

        @media #{$screen-tablet} {
            display: none;
        }
    }

    &__block {
        padding: 0;
        border-radius: rem($border-radius-average);
        .file__delete {
            display: none;
        }
        .file__upload {
            display: block;
        }

        &.accordeon__item {
            cursor: default;
        }

        & + & {
            margin-top: rem($gap-average);

            @media #{$screen-tablet} {
                margin-top: rem(30px);
            }
        }

        &--edit {
            .file__delete {
                display: block;
            }
            .file__upload {
                display: none;
            }
        }
    }

    &__button {
        &-personal.button--disabled {
            border-color: $alto;
        }
    }

    &__block--edit & {
        &__dropzone {
            display: block;
        }

        &__avatar-box {
            display: none;
        }

        &__label {
            &::after {
                display: inline;
            }
        }

        &__toggle {
            display: block;

            &--inline {
                @media #{$screen-tablet} {
                    display: flex;
                }
            }

            &--row {
                display: flex;
            }

            &-select {
                pointer-events: auto;

                .select2-container .select2-selection:after {
                    display: block;
                }
            }

            &.requirement {
                &--inlined {
                    @media #{$screen-tablet} {
                        display: flex;
                    }
                }
            }

            & .requirement__col {
                &--right {
                    margin-top: rem($gap-mini);
                    margin-left: rem($gap-small);

                    @media #{$screen-tablet} {
                        margin-top: 0;
                        margin-left: rem($gap-average);
                    }
        
                    @media #{$screen-desktop} {
                        margin-top: 0;
                    }
                }
            }

            &.section__actions {
                display: flex;
                flex-direction: column-reverse;

                @media #{$screen-tablet} {
                    display: flex;
                    flex-direction: row;
                }
            }
        }

        &__notification {
            display: none;
        }
    }

    &__label {
        &::after {
            display: none;
        }
    }

    &__toggle {
        display: none;

        &-select {
            pointer-events: none;

            .select2-container .select2-selection:after {
                display: none;
            }
        }
    }

    &__partition {
        & + & {
            margin-top: rem($gap-big);

            @media #{$screen-tablet} {
                margin-top: rem($gap-normal);
            }
        }
    }

    &__order {
        padding: rem(20px) rem($gap-normal);

        @media #{$screen-tablet} {
            padding: rem(18px) rem($gap-normal);
        }

        &-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-number {
            @include text-small($font-weight-medium);
        }
    }

    &__dropzone {
        display: none;
    }

    &__info {
        margin-top: rem($gap-small);
        .logout__button{
            padding-left: rem(10.5px);
            padding-right: rem(10.5px);
            .button__text{
                font-size: rem(10px);
                line-height: rem(16px);
            }
            .button__icon{
                width: rem(17px);
            }
        }
    }

    &__avatar {
        flex-shrink: 0;

        margin-bottom: rem($gap-average);

        @media #{$screen-tablet} {
            margin-right: rem($gap-medium);
            margin-bottom: 0;
        }

        &-box {
            position: relative;

            flex-shrink: 0;

            width: 100%;

            overflow: hidden;

            border-radius: rem($border-radius-average);

            @media #{$screen-tablet} {
                width: rem(148px);
                height: rem(195px);
            }

            &::before {
                $image-width: rem(295px);
                $image-height: rem(205px);

                display: block;

                padding-top: percentage($image-height / $image-width);

                content: '';

                @media #{$screen-tablet} {
                    $image-width: rem(148px);
                    $image-height: rem(195px);

                    padding-top: percentage($image-height / $image-width);
                }
            }
        }

        &-image {
            @include position-stretching;

            background-color: $white;

            &-pic {
                @include position-stretching;

                width: 100%;
                height: 100%;

                object-fit: cover;
            }
        }

        .logout__button{
            margin-top: rem(10px);
        }
    }

    &__level {
        font-size: rem($font-size-small);
        font-weight: $font-weight-semibold;
        line-height: ($line-height-small / $font-size-small);
        text-align: center;

        display: block;

        margin-bottom: rem($gap-mini);

        letter-spacing: 0.02em;
    }

    &__id {
        font-size: rem($font-size-small);
        font-weight: $font-weight-medium;
        line-height: (22px / $font-size-small);
        text-align: center;

        display: block;

        letter-spacing: 0.02em;
    }

    &__actions {
        z-index: 0;

        display: flex;
        align-items: center;

        &--mobile {
            margin-bottom: rem(20px);

            @media #{$screen-tablet} {
                display: none;
            }
        }

        &-button {
            & + & {
                @media #{$screen-tablet} {
                    margin-left: rem($gap-normal);
                }
            }

            &--edit {
                display: none;

                @media #{$screen-tablet} {
                    display: flex;
                    visibility: hidden;
                }

                &-personal {
                    visibility: visible;
                }

                &-mentor {
                    visibility: visible;
                }
            }

            &--toggle {
                @media #{$screen-desktop} {
                    display: none;
                }
            }
        }
    }

    &__period {
        font-size: rem($font-size-small);
        font-weight: $font-weight-medium;
        line-height: ($line-height-small / $font-size-small);

        display: flex;
        align-items: center;
        justify-content: center;

        color: $saltBox;

        &--mobile {
            margin-bottom: rem(20px);

            @media #{$screen-tablet} {
                display: none;
            }
        }

        &--desktop {
            display: none;

            @media #{$screen-desktop} {
                display: flex;

                margin-right: 0;
            }
        }

        &-icon {
            $size: 20px;
            $icon-margin: 4px;

            position: relative;

            flex-shrink: 0;

            width: rem($size);
            height: rem($size);
            margin-right: rem($icon-margin);

            @media #{$screen-tablet} {
                $size: 24px;
                $icon-margin: 8px;

                flex-shrink: 0;

                width: rem($size);
                height: rem($size);
                margin-right: rem($icon-margin);
            }
        }
    }

    &__requirement {
        margin-top: rem($gap-average);
    }

    &__consultant {
        margin-bottom: rem($gap-big);

        @media #{$screen-tablet} {
            margin-bottom: rem(30px);
        }
    }

    &__notification {
        display: flex;
        align-items: center;

        &--pushed {
            margin-top: rem(16px);
        }

        &-icon {
            $size: 24px;

            flex-shrink: 0;

            width: rem($size);
            height: rem($size);
            margin-right: rem($gap-small);

            color: $brickRed;
        }

        &-text {
            color: $saltBox;
        }
    }

    &__accordeon {
        &-header {
            cursor: default;
        }

        &-body  {
            @media #{$screen-desktop} {
                display: block !important;
            }
        }
    }

    .accordeon__item {
        .profile__accordeon-header {
           .profile__actions-button--edit {
                @media #{$screen-tablet} {
                    display: none;
                }

                @media #{$screen-desktop} {
                    display: flex;
                }
            }
        }
    }

    .accordeon__item.accordeon__item--opened {
        .profile__accordeon-header {
           .profile__actions-button--edit {
                @media #{$screen-tablet} {
                    display: flex;
                    visibility: visible;
                }
            }
        }
    }
}