.profile {
    &__title {
        margin-bottom: rem($gap-medium);

        @media #{$screen-tablet} {
            display: none;
        }
    }

    &__block {
        & + & {
            margin-top: rem($gap-average);

            @media #{$screen-tablet} {
                margin-top: rem(30px);
            }
        }
    }

    &__partition {
        & + & {
            margin-top: rem($gap-big);

            @media #{$screen-tablet} {
                margin-top: rem($gap-normal);
            }
        }
    }

    &__order {
        padding: rem(20px) rem($gap-normal);

        @media #{$screen-tablet} {
            padding: rem(18px) rem($gap-normal);
        }

        &-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-number {
            @include text-small($font-weight-medium);
        }
    }

    &__dropzone {
        margin-bottom: rem($gap-average);

        pointer-events: none;

        @media #{$screen-tablet} {
            margin-right: rem($gap-medium);
            margin-bottom: 0;
        }
    }

    &__info {
        margin-top: rem($gap-small);
    }

    &__level {
        font-size: rem($font-size-small);
        font-weight: $font-weight-semibold;
        line-height: ($line-height-small / $font-size-small);

        display: block;

        margin-bottom: rem($gap-mini);

        letter-spacing: 0.02em;
    }

    &__id {
        font-size: rem($font-size-small);
        font-weight: $font-weight-medium;
        line-height: (22px / $font-size-small);

        display: block;

        letter-spacing: 0.02em;
    }
}