.product-card {
    position: relative;

    display: flex;
    flex-direction: column;

    height: 100%;

    &--slide {
        & .button {
            &__icon {
                &--big {
                    $size: 32px;

                    width: rem($size);
                    height: rem($size);
                }
            }
        }
    }

    &--slide & {
        &__wrapper {
            padding: 0;
        }

        &__label {
            font-size: rem($font-size-miniature);
            font-weight: $font-weight-medium;
            line-height: ($line-height-small / $font-size-miniature);

            top: rem($gap-average);
            left: rem($gap-average);

            @media #{$screen-desktop} {
                top: rem($gap-small);
                left: rem($gap-small);
            }
        }

        &__image {
            &:before {
                $card-width: rem(343px);
                $card-height: rem(343px);

                padding-top: percentage($card-height / $card-width);

                @media #{$screen-tablet} {
                    $card-width: rem(343px);
                    $card-height: rem(488px);

                    padding-top: percentage($card-height / $card-width);
                }

                @media #{$screen-desktop} {
                    $card-width: rem(370px);
                    $card-height: rem(390px);

                    padding-top: percentage($card-height / $card-width);
                }
            }
        }
    }

    &--marketing & {
        &__image {
            &:before {
                @media #{$screen-desktop} {
                    $card-width: rem(262px);
                    $card-height: rem(262px);

                    padding-top: percentage($card-height / $card-width);
                }
            }
        }

        &__title {
            font-weight: $font-weight-semibold;

            @media #{$screen-desktop} {
                font-size: rem($font-size-average);
            }
        }

        &__text {
            @include text-small;

            @media #{$screen-desktop} {
                max-width: rem(166px);
            }
        }

        &__footer {
            &-label {
                text-align: right;
            }
        }
    }

    &--detail & {
        &__label {
            z-index: 1;
            max-width: max-content !important;
        }

        &__favourite {
            z-index: 1;
        }
    }

    &__link {
        @include position-stretching;
    }

    &__wrapper {
        position: relative;
        padding: rem($gap-small);

        pointer-events: none;

        @media #{$screen-desktop} {
            padding: rem($gap-mini);
            padding-bottom: rem($gap-average);
        }
    }

    &__image {
        position: relative;

        flex-shrink: 0;

        width: 100%;

        overflow: hidden;

        &:before {
            $card-width: rem(148px);
            $card-height: rem(130px);

            display: block;

            padding-top: percentage($card-height / $card-width);

            content: '';

            @media #{$screen-desktop} {
                $card-width: rem(262px);
                $card-height: rem(224px);

                padding-top: percentage($card-height / $card-width);
            }
        }
    }

    &__box {
        @include position-stretching;

        background-color: $white;
    }

    &__pic {
        @include position-stretching;

        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    &__content {
        flex-grow: 1;

        padding: 0 rem($gap-small) rem($gap-average);

        @media #{$screen-desktop} {
            padding: 0 rem(20px) rem($gap-average);
        }
    }

    &__title {
        @include text-truncate-by-row(3);

        font-size: rem($font-size-miniature);
        line-height: ($line-height-mini / $font-size-miniature);

        margin-bottom: rem($gap-small);

        @media #{$screen-desktop} {
            font-size: rem($font-size-small);
            line-height: ($line-height-small / $font-size-small);
        }
    }

    &__article {
        font-size: rem($font-size-miniature);
        font-weight: $font-weight-medium;
        line-height: $line-height-small;

        margin-bottom: rem(14px);

        @media #{$screen-tablet} {
            margin-bottom: rem($gap-average);
        }

        @media #{$screen-desktop} {
            font-size: rem($font-size-small);
            line-height: 22px;
        }
    }

    &__packs {
        position: relative;
        z-index: $z-index-html;

        margin-bottom: rem($gap-average);

        &--mobile {
            @media #{$screen-desktop} {
                display: none;
            }
        }

        &--desktop {
            display: none;

            @media #{$screen-desktop} {
                display: block;
            }
        }
    }

    &__colors {
        position: relative;
        z-index: $z-index-html;

        margin-bottom: rem(10px);

        @media #{$screen-tablet} {
            margin-bottom: rem($gap-small);
        }

        @media #{$screen-desktop} {
            margin-bottom: rem($gap-medium);
        }
    }

    &__breed {
        margin-bottom: rem(10px);
        @media #{$screen-desktop} {
            max-width: max-content;
        }
    }

    &__footer {
        margin-top: auto;
        padding: 0 rem($gap-small) rem($gap-small);

        @media #{$screen-desktop} {
            padding: 0 rem(20px) rem(20px);
        }
    }

    &__price {
        margin-bottom: rem($gap-small);

        @media #{$screen-tablet} {
            margin-bottom: rem($gap-average);
        }

        &-remains {
            font-size: rem(10px);

            @media #{$screen-desktop} {
                font-size: rem($font-size-mini);
            }
        }
    }

    &__label {
        position: absolute;
        top: rem(14px);
        left: rem(14px);

        @media #{$screen-tablet} {
            top: rem($gap-medium);
            left: rem($gap-medium);
        }

        &.label{
            font-size: rem(10px);
            padding: rem(3px) rem(8px);

            @media #{$screen-tablet} {
                max-width: rem(105px);
                font-size: rem(12px);
                padding: rem(2px) rem(8px);
            }

            @media #{$screen-desktop} {
                max-width: rem(205px);
            }
        }

        &-desktop {
            display: none;
            @media #{$screen-tablet} {
                display: inline-block;
            }
        }

        &-mobile {
            @media #{$screen-tablet} {
                display: none;
            }
        }
    }

    &__favourite {
        position: absolute;
        top: rem($gap-small);
        right: rem($gap-small);

        pointer-events: auto;

        @media #{$screen-tablet} {
            top: rem($gap-average);
            right: rem($gap-average);
        }
    }
}