.profitability {
    &__section {
        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-bottom: rem(18px);

            @media #{$screen-desktop} {
                margin-bottom: rem($gap-big);
            }
        }
    }

    &__hint {
        $size: 24px;

        flex-shrink: 0;

        width: rem($size);
        height: rem($size);

        cursor: pointer;

        color: #292d32;

        &--consultant {
            position: absolute;
            bottom: 8px;
            right: 8px;

            @media #{$screen-desktop} {
                position: relative;
                bottom: auto;
                right: auto;
            }
        }
    }

    &__row {
        & + & {
            margin-top: rem($gap-medium);

            @media #{$screen-desktop} {
                margin-top: rem($gap-normal);
            }
        }
    }

    &__level {
        &-header {
            padding: rem($gap-medium) rem($gap-normal);

            @media #{$screen-desktop} {
                padding-bottom: rem(14px);
            }
        }

        &-title {
            font-size: rem($font-size-small);

            margin-bottom: rem($gap-small);

            color: $tuna;

            @media #{$screen-desktop} {
                margin-bottom: rem($gap-normal);
            }
        }
    }

    &__content {
        margin-top: rem($gap-big);
    }

    &__calculation {
        &-cards {
            margin-bottom: rem($gap-medium);
        }

        &-result {
            display: flex;
            flex-direction: column;

            padding-top: rem($gap-average);

            border-top: rem(1px) solid $alto;

            @media #{$screen-tablet} {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &-annotation {
            @include text-tiny($font-weight-medium);

            order: 1;

            max-width: rem(420px);
            margin-top: rem($gap-medium);

            @media #{$screen-tablet} {
                order: initial;

                margin-top: 0;
            }

            @media #{$screen-desktop} {
                @include text-miniature;
            }
        }

        &-total {
            display: inline-block;
            align-self: flex-end;

            padding: rem($gap-medium);

            text-align: center;

            border-radius: rem($border-radius-average);
            background-color: $white;

            &-sum {
                font-size: rem($font-size-middle);
                font-weight: $font-weight-bold;
                line-height: ($line-height-middle / $font-size-middle);

                width: rem(200px);

                color: $brickRed;
            }
        }

        &-groups {
            margin-bottom: rem($gap-medium);
        }

        &-button {
            @include text-miniature;

            padding: rem(7px) rem(40px);
            height: auto;

            @media #{$screen-tablet} {
                padding: rem(9px) rem(40px);
            }

            & .icon {
                color: $shark;
                transition: color $transition-duration $transition-function;
            }

            &:hover {
                .icon {
                    color: $brickRed;
                }
            }
        }
    }

    &__consultants {
        position: relative;

        padding: rem($gap-medium) rem($gap-normal);
        margin-top: rem($gap-big);

        border-radius: rem($border-radius-average);
        background-color: $white;

        @media #{$screen-desktop} {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: rem($gap-medium);
        }

        &-col {
            & + & {
                margin-top: rem($gap-medium);

                @media #{$screen-desktop} {
                    margin-top: 0;
                }
            }

            &--inlined {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                @media #{$screen-desktop} {
                    justify-content: flex-end;
                }
            }
        }

        &-switcher {
            max-width: rem(425px);
        }

        &-quantity {
            &--hidden {
                visibility: hidden;
            }

            width: rem(192px);

            @media #{$screen-desktop} {
                margin-right: rem($gap-medium);
            }
        }
    }

    &__computing {
        margin-top: rem($gap-big);
    }

    &__groups {
        margin-top: rem($gap-medium);
    }

    &__tooltip {
        &-title {
            font-weight: $font-weight-bold;
        }

        &-list {
            margin-top: rem(16px);
        }

        &-item {
            display: flex;
        }

        &-icon {
            $size: 20px;

            flex-shrink: 0;

            width: rem($size);
            height: rem($size);
            margin-right: rem(10px);
        }

        &-note {
            margin-top: rem($gap-mini);
        }
    }

    &__signature {
        font-size: rem($font-size-miniature);
        font-weight: $font-weight-medium;
        line-height: $line-height-miniature;

        display: block;

        margin-top: rem($gap-mini);

        color: $saltBox;


        &--mobile {
            display: block;

            @media #{$screen-desktop} {
                display: none;
            }
        }
    }

    &__button {
        &.button--small {
            width: rem(64px);
            height: rem(28px);
        }
    }
}