.section {
    & + & {
        margin-top: rem($gap-big);

        @media #{$screen-tablet} {
            margin-top: rem(34px);
        }

        @media #{$screen-desktop} {
            margin-top: rem(48px);
        }
    }

    &--limited {
        max-width: rem(370px);
    }

    &--limited-middle {
        max-width: rem(520px);

        @media #{$screen-desktop} {
            max-width: rem(770px);
        }
    }

    &--limited-big {
        max-width: rem(770px);
    }

    &--centered {
        margin-right: auto;
        margin-left: auto;

        @media #{$screen-desktop} {
            margin-right: 0;
            margin-left: 0;
        }
    }

    &__title {
        margin-bottom: rem($gap-medium);

        @media #{$screen-tablet} {
            margin-bottom: rem($gap-big);
        }

        &--closer {
            margin-bottom: 0;
        }
    }

    &__box {
        &-inner {
            & + & {
                margin-top: rem($gap-big);

                @media #{$screen-tablet} {
                    margin-bottom: rem($gap-normal);
                }
            }

            &--full {
                flex-grow: 1;
            }
        }

        &-block {
            & + & {
                margin-top: rem($gap-big);
            }
        }

        &-content {
            padding: rem($gap-average);

            @media #{$screen-tablet} {
                padding: rem($gap-normal);
            }

            &--collapsed {
                padding: 0;

                @media #{$screen-tablet} {
                    padding: rem($gap-normal);
                }
            }
        }
    }

    &__wrapper {
        padding: rem($gap-average);

        border-radius: rem($border-radius);
        background-color: $white;

        @media #{$screen-tablet} {
            display: flex;

            padding: 0;

            background-color: transparent;
        }
    }

    &__actions {
        margin-top: rem($gap-normal);

        @media #{$screen-tablet} {
            display: flex;
            align-items: center;
        }

        &-col {
            @media #{$screen-tablet} {
                width: 50%;
            }

            & + & {
                margin-top: rem($gap-medium);

                @media #{$screen-tablet} {
                    margin-top: 0;
                    margin-left: rem($gap-medium);
                }
            }
        }
    }
}