.select {
    font-size: rem($font-size-normal);

    position: relative;

    &#{&}--squared {
        .select2-container--default {
            .select2-selection--single {
                border-radius: rem($border-radius-small);
            }
        }

        .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
            border-bottom-left-radius: rem($border-radius-small);
            border-bottom-right-radius: rem($border-radius-small); 
        }
    }

    &#{&}--mitigate {
        font-size: rem($font-size-small);
    }

    &#{&}--limited {
        .select2-dropdown {
            width: rem(320px) !important;
        }

        .select2-results {
            padding: rem(16px) 0;
        }
    }

    &#{&}--middle {
        .select2-results {
            padding: rem(16px) 0;
        }

        .select2-container {
            .select2-selection {
                &::after {
                    right: rem($gap-medium);

                    width: rem(16px);
                    height: rem(16px);

                    color: $saltBox;
                }
            }
        }
    }

    &#{&}--mini {
        font-size: rem($font-size-miniature);

        .select2-container--default {
            .select2-selection--single {
                height: rem(24px);

                background-color: $white;
                border: rem(1px) solid $white;
                border-radius: rem($border-radius-small);

                .select2-selection__rendered {
                    line-height: rem($line-height-miniature);

                    padding: rem($gap-mini) rem($gap-small);
                }
            }
        }

        .select2-container {
            .select2-selection {
                &::after {
                    right: rem($gap-small);

                    width: rem(12px);
                    height: rem(12px);
    
                    color: $saltBox;
                }
            }
        }

        .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
            border-bottom-left-radius: rem($border-radius-small);
            border-bottom-right-radius: rem($border-radius-small); 
        }

        .select2-results {
            padding: rem($gap-average) 0;
        }

        .select2-results__options {
            padding: 0 rem($gap-small);
        }
    }

    &#{&}--small {
        font-size: rem($font-size-small);

        .select2-container--default {
            .select2-selection--single {
                height: rem(40px);

                .select2-selection__rendered {
                    line-height: rem(22px);

                    padding: rem($gap-small) rem($gap-average);
                }
            }

            .select2-selection--multiple {
                height: rem(40px);

                .select2-selection__rendered {
                    line-height: rem(22px);

                    padding: rem($gap-small) rem(6px);
                }

                .select2-selection__rendered-item {
                    font-weight: $font-weight-medium;

                    padding: 0 rem(6px);

                    color: $tuna;
                }
            }
        }
    }

    &#{&}--middle {
        font-size: rem($font-size-small);

        .select2-container--default {
            .select2-selection--single {
                height: rem(36px);

                .select2-selection__rendered {
                    line-height: rem(22px);

                    padding: rem(7px) rem($gap-medium);
                }
            }
        }
    }

    &#{&}--borderless {
        .select2-container--default {
            .select2-selection--single {
                border: none;
                background-color: transparent;
            }
        }
    }

    &#{&}--simple {
        .select2-container--default {
            .select2-selection--single {
                border: none;
                background-color: $white;
            }
        }
    }

    &#{&}--common {
        .select2-container--default {
            .select2-selection--single {
                border: none;
                border-radius: 0;
                background-color: $white;
            }
        }
    }

    &#{&}--sorting {
        .select2-container--default {
            .select2-selection--single {
                .select2-selection__placeholder {
                    color: $saltBox;
                }

                .select2-selection__rendered {
                    position: relative;

                    max-width: rem(166px);

                    @media #{$screen-tablet} {
                        max-width: rem(298px);
                    }

                    @media #{$screen-desktop} {
                        max-width: rem(182px);
                    }
                }
            }
        }

        .select2-container {
            .select2-selection {
                &::after {
                    right: rem(44px);

                    width: rem(20px);
                    height: rem(20px);
                }
            }
        }

        .select2-dropdown {
            width: 100% !important;

            @media #{$screen-desktop} {
                right: 0;
                left: auto;

                width: rem(320px) !important;
            }
        }
    }

    &#{&}--multiple {
        .select2-container--default {
            .select2-selection--multiple {
                display: flex;

                .select2-selection__choice {
                    display: flex;

                    padding: 0;

                    border: none;
                    background-color: transparent;
                }
            }
        }

        .select2-container--default.select2-container--focus {
            .select2-selection--multiple {
                border: rem(1px) solid $alto;
            }
        }

        .select2-selection__choice__remove {
            display: none;
        }

        .select2-selection__rendered {
            display: flex;
        }

        .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
            border-bottom-left-radius: rem($border-radius-small);
            border-bottom-right-radius: rem($border-radius-small); 
        }
    }

    &#{&}--groups {
        .select2-selection__rendered {
            .select__item {
                @include text-ellips;

                max-width: rem(150px);
            }
        }

        .select2-container--default {
            .select2-dropdown {
                right: 0;
                left: auto;

                width: rem(320px) !important;
            }
        }

        .select2-results > .select2-results__options {
            max-height: min-content !important;
        }
    }

    &--iconed {
        .select2-container--default {
            .select2-selection--single {
                .select2-selection__placeholder {
                    padding-left: rem(28px);

                    &::after {
                        $size: 20px;

                        position: absolute;
                        top: 0;
                        left: rem($gap-average);
                        bottom: 0;

                        display: block;

                        width: rem($size);
                        height: rem($size);
                        margin-top: auto;
                        margin-bottom: auto;

                        content: '';

                        background-image: url('/local/templates/.default/images/icons/pet.svg');
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        background-size: cover;
                    }
                }

                .select2-selection__placeholder .select__item {
                    display: inline-block;
                }
            }
        }
    }

    &__group {
        position: relative;

        display: flex;
        align-items: center;

        height: rem(40px);

        border: rem(1px) solid $alto;
        border-radius: rem($border-radius-small);
    }

    .select2-container {
        .select2-selection {
            &::after {
                position: absolute;
                top: 0;
                right: rem($gap-average);
                bottom: 0;

                display: block;

                width: rem(20px);
                height: rem(20px);
                margin-top: auto;
                margin-bottom: auto;

                content: '';
                transition: transform $transition-duration $transition-function;

                background-image: url('/local/templates/.default/images/icons/arrow-down.svg');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
            }
        }
    }

    .select2-container--default {
        .select2-selection--single {
            height: rem(48px);

            background-color: $white;
            border: rem(1px) solid $alto;
            border-radius: rem($border-radius-middle);

            .select2-selection__placeholder {
                color: $saltBox;
            }

            .select2-selection__rendered {
                line-height: rem(22px);

                padding: rem(14px) rem(44px) rem(12px) rem(16px);

                color: $tuna;
            }

            .select2-selection__arrow {
                display: none;
            }
        }
    }

    .select2-container--default {
        .select2-search--inline {
            .select2-search__field {
                font-family: $font-family;
                font-size: rem($font-size-small);
                font-weight: $font-weight-medium;
                line-height: 22px;

                margin-left: 0;
                margin-bottom: rem(2px);
            }
        }
    }

    .select2-container--default {
        .select2-selection--multiple {
            padding: 0;

            border: rem(1px) solid $alto;
            background-color: $white;

            cursor: pointer;

            .select2-selection__placeholder {
                color: rgba($saltBox, .85);
            }

            .select2-selection__rendered {
                line-height: rem(22px);

                color: $tuna;
            }

            .select2-selection__arrow {
                display: none;
            }

            .select2-search__field {
                cursor: pointer;
            }
        }
    }

    .select2-search--dropdown {
        display: none;
    }

    .select2-dropdown {
        margin-top: rem(8px);

        border: rem(1px) solid $white;
        border-radius: rem($border-radius);
        background-color: $white;
        box-shadow: $box-shadow-medium;
    }

    .select2-results {
        padding: rem(20px) 0;
    }

    .select2-results > .select2-results__options {
        max-height: rem(192px);

        color: $tuna;
    }

    .select2-results__options {
        padding: 0 rem(16px);
    }

    .select2-results__option {
        padding: rem(4px) rem(8px);

        &[aria-selected=true],
            &--highlighted[aria-selected] {
                color: $tuna;
                border-radius: rem($border-radius-small);
                background-color: $athensGray;
            }

        &[aria-disabled=true] {
            cursor: default;
        }
    }

    .select2-results__option--selected {
        color: $tuna;
        border-radius: rem($border-radius-small);
        background-color: $athensGray;
    }

    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
        border-bottom-left-radius: rem($border-radius-middle);
        border-bottom-right-radius: rem($border-radius-middle); 
    }

    .nicescroll-rails {
        background: transparent !important;
    }

    .nicescroll-cursors {
        width: rem(6px) !important;
        border: none;
        border-radius: rem($border-radius-small) !important;
        background-color: $saltBox !important;
    }

    &__control {
        width: 100%;
        height: rem(36px);
        padding: rem(10px) rem(7px) rem(18px);

        border: rem(1px) solid $white;
        border-radius: rem($border-radius-middle);
        background-color: transparent;
    }

    .select2-container {
        width: 100% !important;

        &.select2 {
            &:focus {
                outline: none;
            }
        }

        &.select2-container--open {
            .select2-selection {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }

        .select2-container--default {
            .select2-selection--single {
                .select2-selection__placeholder {
                    @include text-small;

                    display: block;
                    overflow: hidden;

                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    &__item {
        font-weight: $font-weight-medium;

        display: flex;
        align-items: center;

        &-icon {
            $size: 20px;

            flex-shrink: 0;

            width: rem($size);
            height: rem($size);
            margin-right: rem($gap-small);

            @media #{$screen-tablet} {
                $size: 24px;

                width: rem($size);
                height: rem($size);
            }
        }
    }

    &__color {
        display: flex;
    }
}