.slider {
    position: relative;

    &--main {
        & .swiper-container {
            height: 100%;
        }

        & .swiper-pagination {
            &:not(.card-banner__pagination) {
                position: initial;
    
                @media #{$screen-tablet} {
                    display: none;
                }
            }
        }
    }
    
    &--main & {
        &__slide {
            height: 480px;

            @media #{$screen-tablet} {
                height: 560px;
            }
        }

        &__image {
            height: 100%;

            picture {
                height: 100%;  
            }

            &-picture {
                height: 100%;
            }
        }

        &__buttons {
            position: absolute;
            right: rem($gap-normal);
            bottom: rem($gap-normal);
            
            display: none;

            @media #{$screen-desktop} {
                display: flex;
            }
        }

        &__button {
            $size: 56px;
    
            display: inline-flex;
            align-items: center;
            justify-content: center;
    
            width: rem($size);
            height: rem($size);

            transition: background-color $transition-duration $transition-function;
    
            border-radius: 50%;
            background-color: rgba($white, .65);
    
            backdrop-filter: blur(4px);
            box-shadow: 0 rem(8px) rem(12px) rgba($black, .28);

            &:hover {
                background-color: $white;
            }
    
            &--prev {
                padding: rem(18px) rem(20px) rem(18px) rem($gap-medium);
            }
            
            &--next {
                padding: rem(18px) rem($gap-medium) rem(18px) rem(20px);
            }
    
            &-icon {
                $size: 20px;
    
                width: rem($size);
                height: rem($size);
    
                color: $codGray;
            }
        }
    }

    &--product {
        & .swiper-pagination {
            position: initial;

            @media #{$screen-desktop} {
                display: flex;
            }
        }
    }

    &--product & {
        &__buttons {
            display: flex;
            align-items: center;
            justify-content: center;

            @media #{$screen-desktop} {
                margin-top: rem($gap-average);
            }

            &-item {
                display: none;
    
                @media #{$screen-desktop} {
                    z-index: 11;

                    display: inline-flex;

                    margin-top: 0;
                    margin-left: 0;
                }
            }
        }

        &__button {
            &--prev {
                transform: translateX(rem($gap-small));
            }

            &--next {
                transform: translateX(rem(-$gap-small));

                & .button {
                    &__icon {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    &__slide {
        overflow: hidden;

        border-radius: rem($border-radius);

        @media #{$screen-tablet} {
            border-radius: rem($border-radius-average);
        }
    }

    &__image {
        &-picture {
            width: 100%;

            @include object-fit(cover);
        }
    }

    &__card {
        position: absolute;
        right: rem($gap-medium);
        bottom: rem($gap-medium);
        left: rem($gap-medium);

        max-width: rem(311px);

        @media #{$screen-tablet} {
            right: rem($gap-normal);
            bottom: rem($gap-normal);
            left: rem($gap-normal);

            max-width: rem(444px);
        }
    }

    &__buttons {
        z-index: 10;
        
        display: flex;
        
        &-item {
            position: initial;

            width: auto;
            height: auto;
            margin-left: rem($gap-small);

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__button {
        &--next & {
            &-icon {
                transform: rotate(180deg);
            }
        }
    }

    & .swiper-button-next,
    & .swiper-button-prev {
        &::after {
            content: none;
        }
    }

    & .pagination .swiper-pagination-bullet {
        margin: rem(8px) 0 0 0.5rem!important;
    }
}
