.slider {
    position: relative;

    &--main {
        & .swiper-container {
            height: 100%;
        }

        // TODO:
        & .swiper-wrapper {
            height: rem(480px);

            @media #{$screen-desktop} {
                height: rem(560px);
            }
        }

        & .swiper-button-next,
        & .swiper-button-prev {
            &::after {
                content: none;
            }
        }

        & .swiper-pagination {
            position: initial;

            @media #{$screen-tablet} {
                display: none;
            }
        }
    }
    
    &--main & {
        &__slide {
            & .card-slide {
                &__pagination {
                    @media #{$screen-tablet} {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        
                        display: block;
                    }
                }
            }
        }

        &__buttons {
            position: absolute;
            right: rem($gap-normal);
            bottom: rem($gap-normal);
            
            display: none;

            @media #{$screen-desktop} {
                display: flex;
            }
        }
    }

    &--pagination {
        & .swiper-wrapper {
            height: rem(343px);

            @media #{$screen-tablet} {
                height: rem(488px);
            }

            @media #{$screen-desktop} {
                height: rem(390px);
            }
        }
    }

    &--pagination & {

    }

    &__slide {
        overflow: hidden;

        border-radius: rem($border-radius);

        @media #{$screen-tablet} {
            border-radius: rem($border-radius-average);
        }

        &-image {
            @include position-stretching(absolute);

            width: 100%;
            height: 100%;

            @include object-fit(cover);
        }

        &-card {
            position: absolute;
            right: rem($gap-medium);
            bottom: rem($gap-medium);
            left: rem($gap-medium);

            max-width: rem(311px);

            @media #{$screen-tablet} {
                right: rem($gap-normal);
                bottom: rem($gap-normal);
                left: rem($gap-normal);

                max-width: rem(444px);
            }
        }
    }

    &__buttons {
        z-index: 10;
        
        display: flex;
        
        &-item {
            position: initial;

            width: auto;
            height: auto;
            margin-left: rem($gap-small);

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__button {
        $size: 56px;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: rem($size);
        height: rem($size);

        border-radius: 50%;
        background-color: rgba($white, .65);

        backdrop-filter: blur(4px);

        &--prev {
            padding: rem(18px) rem(20px) rem(18px) rem($gap-medium);
        }
        
        &--next {
            padding: rem(18px) rem($gap-medium) rem(18px) rem(20px);
        }

        &--next & {
            &-icon {
                transform: rotate(180deg);
            }
        }

        &-icon {
            $size: 20px;

            width: rem($size);
            height: rem($size);

            color: $codGray;
        }
    }
}
