.social {
    margin-bottom: rem($gap-medium);

    border-top: rem(1px) solid #494953;
    border-bottom: rem(1px) solid #494953;

    &__list {
        display: flex;
        flex-wrap: wrap;

        margin: 0 rem(-$gap-small) rem(-$gap-small);
        padding: rem($gap-small) 0;
    }

    &__item {
        margin-bottom: rem($gap-small);
        padding: 0 rem($gap-small);
    }

    &__link {
        $size: 24px;
            
        display: block;

        width: rem($size);
        height: rem($size);

        transition: color $transition-duration $transition-function;

        color: $white;

        &:hover {
            color: $mandy;
        }

        &:active {
            color: $mandy2;
        }
    }
}
