.social {
    &__list {
        display: flex;
        flex-wrap: wrap;

        margin: 0 rem(-$gap-small);
    }

    &__item {
        padding: 0 rem($gap-small);
    }

    &__link {
        $size: 24px;
            
        display: block;
        border-radius: 50%;
        width: rem($size);
        height: rem($size);

        transition: all $transition-duration $transition-function;

        color: $white;

        &:hover {
            color: $mandy;
            background: white;

        }

        &-youtube:hover{
            color: #c4302b;
        }

        &-telegram:hover{
            color: #c4302b;
        }
        &-telegram:hover{
            color: #0088CC;
        }
        &-vk:hover{
            color: #0077FF;
        }
        &-whatsapp:hover{
            color: #43d854;
            background-color: #3a3a43;
        }
        &-viber:hover{
            color: #7360F2;
        }

        &:active {
            color: $mandy2;
        }
    }
}
