.switcher {
    &__input {
        @include hidden-element;
    }

    &__input:checked + &__label & {
        &__icon {
            border-color: $brickRed;
            background-color: $brickRed;

            &::before {
                transform: translateX(116%);

                background-color: $white;
            }
        }
    }

    &__input:disabled + &__label & {
        &__text {
            cursor: default;
        }

        &__icon {
            cursor: default;

            border-color: $athensGray;
            background-color: $athensGray;
        }
    }

    &__label {
        display: inline-flex;
        align-items: center;
    }

    &__text {
        $margin: 10px;

        font-weight: $font-weight-semibold;

        margin-left: rem($margin);

        cursor: pointer;

        &--left {
            margin-right: rem($margin);
            margin-left: 0;
        }

        &--small {
            @include text-tiny($font-weight-medium);

            @media #{$screen-desktop} {
                @include text-miniature;
            }
        }
    }

    &__icon {
        flex: 0 0 auto;
        position: relative;

        display: block;

        width: rem(48px);
        height: rem(24px);

        cursor: pointer;
        transition: border-color $transition-duration $transition-function,
        background-color $transition-duration $transition-function,
        box-shadow $transition-duration $transition-function;

        border: rem(2px) solid $alto;
        border-radius: rem($border-radius);
        background-color: $alto;

        &::before {
            $icon-size: 20px;

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;

            display: block;

            width: rem($icon-size);
            height: rem($icon-size);
            margin-top: auto;
            margin-bottom: auto;

            content: '';
            transition: transform $transition-duration $transition-function;

            border-radius: 50%;
            background-color: $saltBox;
        }
    }
}