.tag {
    padding: rem(6px) rem($gap-average);

    letter-spacing: 0.04em;

    border: rem(1px) solid $white;
    border-radius: rem(34px);

    &--green {
        background-color: $seaGreen;
    }
    
    &--purple {
        background-color: $wisteria;
    }

    &__text {
        font-size: rem($font-size-miniature);
        font-weight: $font-weight-semibold;
        line-height: ($line-height-tiny / $font-size-miniature);

        text-align: center;

        color: $white;

        @media #{$screen-tablet} {
            font-size: rem($font-size-mini);
            line-height: ($line-height-miniature / $font-size-mini);
        }
    }
}
