.widget {
    position: relative;

    height: 100%;
    padding: rem($gap-normal);

    transition: box-shadow $transition-duration $transition-function;

    border-radius: rem($border-radius-average);
    background-color: $athensGray;

    @media #{$screen-tablet} {
        padding: rem($gap-medium);
    }

    @media #{$screen-desktop} {
        padding: rem($gap-big);
    }
    
    &:hover {
        box-shadow: $box-shadow-big;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        
        height: 100%;
    }

    &__head {
        margin-bottom: rem($gap-normal);

        @media #{$screen-tablet} {
            margin-bottom: rem($gap-medium);
        }
    
        @media #{$screen-desktop} {
            margin-bottom: rem($gap-normal);
        }
    }

    &__content {
        margin-bottom: rem($gap-normal);

        @media #{$screen-tablet} {
            margin-bottom: rem($gap-small);
        }
    
        @media #{$screen-desktop} {
            margin-bottom: rem($gap-normal);
        }
    }

    &__footer {
        margin-top: auto;
    }

    &__title {
        font-size: rem($font-size-average);
        line-height: $line-height-average;

        margin-bottom: rem($gap-average);

        @media #{$screen-tablet} {
            font-size: rem($font-size-medium);
            line-height: (22px / $font-size-medium);

            min-height: rem(44px);
            margin-bottom: rem(6px);
        }

        @media #{$screen-desktop} {
            font-size: rem($font-size-average);
            line-height: ($line-height-middle / $font-size-average);

            min-height: auto;
            margin-bottom: rem($gap-average);
        }
    }

    &__description {
        font-size: rem($font-size-small);
        font-weight: $font-weight-medium;

        color: $saltBox;
    }

    &__link {
        @include position-stretching($position: absolute, $z-index: 1);
    }

    &__wrapper {
        $size: 88px;

        padding: rem(20px);
        width: rem( $size);
        height: rem( $size);

        background-color: transparent;
        border-radius: rem($border-radius);

        @media #{$screen-tablet} {
            $size: 82px;

            width: rem( $size);
            height: rem( $size);
        }

        @media #{$screen-desktop} {
            $size: 124px;
            padding: rem(26px);
            width: rem( $size);
            height: rem( $size);
        }

        &--green {
            background-color: $mintTulip;
        }

        &--red {
            background-color: $azalea;
        }

        &--gold {
            background-color: $eggWhite;
        }
    }

    &__icon {
        $size: 48px;

        width: rem($size);
        height: rem($size);
        max-width: none;

        @media #{$screen-tablet} {
            $size: 42px;

            width: rem($size);
            height: rem($size)
        }

        @media #{$screen-desktop} {
            $size: 72px;

            width: rem($size);
            height: rem($size)
        }
    }

    &__button {
        &-icon {
            $size: 20px;

            width: rem($size);
            height: rem($size);

            color: $brickRed;
        }
    }
}